[2019-10-18 21:27] thomas-moulard opened #1 "Don't install rosdep dependencies for packages that the package unders test does not depend upon"

[2019-10-18 21:28] thomas-moulard opened #2 "OS X support"

[2019-10-18 21:28] thomas-moulard opened #3 "Support building and testing on WIndows"
## Description

As a GH action user, I can build and run tests on Windows for my packages.

## Test Plan

* End to end integration test

## Documentation Plan

* README.md update

## Release Plan

* Release the impacted packages again, and update the workflows as needed.

## Acceptance Criteria

* [ ] Code has been implemented, reviewed and merged.
* [ ] Test plan has been completed
* [ ] Release

[2019-10-18 21:28] thomas-moulard opened #4 "TSAN support"

[2019-10-18 21:28] thomas-moulard opened #5 "ASAN support"

[2019-10-18 21:28] thomas-moulard opened #6 "clang+thread-safety annotation support"

[2019-10-18 21:29] thomas-moulard opened #7 "Build Debian packages using Bloom and GitHub actions"
## Description

As a GH action user, I can run Bloom pre-release script to generate Debian packages for my software.

## Test Plan

* End to end integration test

## Documentation Plan

* README.md update

## Release Plan

* Release the impacted packages again, and update the workflows as needed.

## Acceptance Criteria

* [ ] Code has been implemented, reviewed and merged.
* [ ] Test plan has bee

[2019-10-22 16:48] #1 closed

[2019-10-23 03:35] greenkeeper[bot] opened #12 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-10-23 03:45] #12 closed

[2019-10-23 04:15] greenkeeper[bot] opened #13 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-10-24 00:26] #13 closed

[2019-10-24 19:07] thomas-moulard commented on #2
Fixed by #15

[2019-10-24 19:07] #2 closed

[2019-10-30 15:33] greenkeeper[bot] opened #20 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.0` to `12.12.1`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros2-ci/compare/master...ros-tooling:greenkeeper%2F%40types%2Fnode-12.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/n

[2019-10-30 23:19] piraka9011 opened #21 "Running Actions in forked repos"
When someone wants to contribute to our repos from a forked repo, the tests will fail.
Initial report in [ros-tooling/setup-ros2#16](https://github.com/ros-tooling/setup-ros2/issues/16) duplicated below.
____

Noticed this issue in https://github.com/ros-tooling/cross_compile/pull/37.

In this PR, the base branch is from a fork of the repo where the action runs.
PR base branch: https://github.com/

[2019-10-30 23:54] thomas-moulard commented on #21
As you were mentioning, your fork is in `aws-ros-dev` but the VCS url is set to `ros-tooling/cross_complie`, so the branch can't be found, which is why it is failing.
We just need to fix the script to pull the right repo in VCS.

This line is wrong: https://github.com/ros-tooling/action-ros2-ci/blob/master/src/action-ros2-ci.ts#L50

[2019-11-01 06:22] #21 closed

[2019-11-04 18:51] #20 closed

[2019-11-05 21:05] dabonnie opened #26 "Missing ament_cmake_gtest package"
See this [PR](https://github.com/ros-tooling/system_metrics_collector/pull/5/checks?check_run_id=289704468) for details

[code]

[2019-11-05 22:20] thomas-moulard commented on #26
I tried locally and it works if you re-run the build after sourcing `local_setup.sh`. I need to understand what is the mechanism that `colcon` uses to append to `CMAKE_MODULE_PATH` during the build process...

[2019-11-06 04:10] thomas-moulard commented on #26
Also happening in launch_ros_sandbox#69

[code]

[2019-11-06 18:17] #26 closed

[2019-11-15 18:56] #5 closed

[2019-11-15 18:57] thomas-moulard commented on #5
`mixin` support provides support for this.

[2019-11-15 18:57] thomas-moulard commented on #4
`mixin` support provides support for this.

[2019-11-15 18:57] #4 closed

[2019-11-18 17:45] zmichaels11 opened #31 "Create an example project that uses this action"
It would be nice to have a minimal, well-formed ROS2 project that builds with `action-ros2-ci` to use as reference for setting up `action-ros2-ci` in other projects.

[2019-11-18 17:46] zmichaels11 commented on #31
I've been using [ros-tooling/cross_compile](https://github.com/ros-tooling/cross_compile/blob/master/.github/workflows/test.yml) as an example, however it would be nice to have a dedicated example project.

[2019-11-19 17:54] zmichaels11 opened #33 "Add support for building and testing more than one package"
## Description

As a GH action user, I want to be able to build and run tests on more than one package.

## Test Plan

* End to end integration test

## Documentation Plan

* README.md update

## Release Plan

* Release the impacted packages again, and update the workflows as needed.

## Acceptance Criteria

* [x] Code has been implemented, reviewed and merged.
* [x] Test plan has been completed
*

[2019-11-19 22:17] thomas-moulard commented on #3
See https://github.com/ros-tooling/setup-ros2/issues/23 instead

[2019-11-19 22:17] #3 closed

[2019-11-19 22:24] thomas-moulard opened #34 "action-ros2-ci reports success even though a cmake invocation failed"
@zmichaels11 commented on [Tue Nov 19 2019](https://github.com/ros-tooling/setup-ros2/issues/22)

## Description

It looks like ubuntu build returns a false positive success when ros1_bridge is used
https://github.com/ros2/rosbag2_bag_v2/pull/10#issuecomment-555670954

This might be caused by `ros1_bridge` failing to build and might be resolved by Issues #21 and #20.

## Expected Behavior

The Git

[2019-12-02 21:23] Karsten1987 commented on #33
I really appreciate the github actions and would love to use the `action-ros2-ci` repo as much as possible. I have a strong requirement for passing in a custom list of ros2 repos to build/test from source. I think this ticket is aiming at precisely this.
What's the status of this?

[2019-12-02 23:00] thomas-moulard commented on #33
Thanks @Karsten1987 . I haven't started yet, but I can give it a shot today or tomorrow.

[2019-12-02 23:36] thomas-moulard opened #38 "Add support for buildling and testing ARM-HF/ARM64 using qemu and ros-tooling/cross_compile"

[2019-12-03 21:16] #33 closed

[2019-12-10 07:49] thomas-moulard commented on #6
https://github.com/ros-tooling/system_metrics_collector/pull/32

[2019-12-10 07:53] thomas-moulard opened #45 "[bug] C++ code coverage: fix broken paths in codecov"
Need to declare the mapping between the path and project root.
https://docs.codecov.io/docs/fixing-paths

See e.g. https://codecov.io/gh/ros-tooling/system_metrics_collector/tree/master/ros2_ws/src/system_metrics_collector/system_metrics_collector/src/moving_average_statistics => types.hpp

[2019-12-10 07:55] thomas-moulard commented on #45
Need to remove ros-tooling/codecov-action and use https://github.com/codecov/codecov-action instead if possible. We can pass a codecov.yml to this action which should fix the problem at hand.

[2019-12-10 07:55] thomas-moulard commented on #45
FYI @mm318

[2019-12-10 08:19] thomas-moulard commented on #45
https://github.com/ros-tooling/system_metrics_collector/pull/33

[2019-12-13 04:35] piraka9011 opened #47 "Add support for ament_lint_cmake"
When a user specifies `cmake` in their workflow linting matrix, `ros-<ROSDISTRO>-ament-cmake` installs correctly, however, the linter command is not executed correctly.

This action currently attempts to run `ament_cmake` which is not valid. The correct command is `ament_lint_cmake`.

If `lint_cmake` is specified in the linter matrix, then `ament_cmake` could not be installed.

Example:

[code]

[2019-12-17 15:53] greenkeeper[bot] opened #48 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.18` to `12.12.19`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros2-ci/compare/master...ros-tooling:greenkeeper%2F%40types%2Fnode-12.12.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2019-12-18 14:20] greenkeeper[bot] opened #50 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.23` to `24.0.24`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros-ci/compare/master...ros-tooling:greenkeeper%2F%40types%2Fjest-24.0.24).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/je

[2019-12-19 22:09] #48 closed

[2019-12-20 17:28] #45 closed

[2019-12-27 00:35] prajakta-gokhale opened #56 "Unable to test codecov from personal forks"
**Description**
`codecov` action does not run on forks of repositories because secret token is not accessible from the fork.

**Details**
`codecov-action` needs a `CODECOV_TOKEN` to be able to run the action and generate coverage reports. This token is stored in the repository as a secret, and accessed in the Action from within the repo. Example: [system_metrics_collector](https://github.com/ros-t

[2020-01-09 18:16] piraka9011 commented on #34
A potential solution is to add a check right after running [`await execBashCommand(colconBuildCmd, commandPrefix, options)`](https://github.com/ros-tooling/action-ros-ci/blob/e5dfdc3c82ce85271527141bd5242e17f273c38e/src/action-ros-ci.ts#L221).

If it's non-zero:

[code]

[2020-01-09 21:47] #50 closed

[2020-01-13 22:36] Karsten1987 opened #58 "mismatch between `build_and_test` vs `linter_cpplint`"
When looking at the checks currently applied at rosbag2 I see some mismatch which I can't really explain.

For example in this PR: https://github.com/ros2/rosbag2/pull/225

I see that `build_and_test` fails with `cpplint` and `uncrustify` not being happy:
[code]

However, the dedicated checks (uncrustify and cpplint) are returning successful. How should I interpret this?

[2020-01-13 22:48] zmichaels11 commented on #58
@thomas-moulard please take a look at this

[2020-01-13 23:23] thomas-moulard commented on #58
@Karsten1987 Could you link the logs? The [latest CI builds](https://pipelines.actions.githubusercontent.com/rHRbwtDphj82Kxr8zjvHhxqpLLmwA2QMuvdRqupLptwLX56Lmu/_apis/pipelines/1/runs/840/signedlogcontent/3?urlExpires=2020-01-13T23%3A22%3A12.3743768Z&urlSigningMethod=HMACV1&urlSignature=Y03QPp%2B7RAxh32dHKD8bcZHV1GfBPYSw6M3n9V0guvE%3D) have the linters happy.

[code]

The linters are installed from

[2020-01-13 23:32] Karsten1987 commented on #58
wich logs would you like to see? I am just looking at the detailed output of the checks running in the previously linked PR.

https://github.com/ros2/rosbag2/pull/225/checks?check_run_id=386643854
vs
https://github.com/ros2/rosbag2/pull/225/checks?check_run_id=386643930

[2020-01-15 21:42] thomas-moulard commented on #58
@Karsten1987 I saw your comment in the other thread - FYI `build_and_test` is equivalent to what ci.ros2.org is doing, so those two should always be in sync.

The lint jobs are installing eloquent packages, that's why they may not be completely in sync.

[2020-01-16 16:49] piraka9011 opened #61 "Allow build/test all packages by default"
# Description

Build all packages in the workspace by default - by providing no package specifiers to `colcon build` and `colcon test`.

Continue to allow use of `package-name` to limit the packages built. This would make it a non-API-breaking change since all existing workflows will continue working.

### Original ticket for context

Originally from [ros2/rosbag2#259](https://github.com/ros2/rosb

[2020-01-16 17:52] mikaelarguedas commented on #61
My original thought was to let colcon figure it out. Basically inverting the logic:
- clone the current repo
- call colcon list and store the list of packages
- then clone ros2.repos and remove the copy of the repo we already cloned before

This way it'll still support the COLCON_IGNORE files, reject nested packages etc without re-implementing the logic

[2020-01-17 17:09] thomas-moulard commented on #61
Yes, I won't have time to work on this soon, but I'd gladly accept a PR :)

[2020-01-21 21:45] greenkeeper[bot] opened #62 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `4.0.10` to `4.1.0`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros-ci/compare/master...ros-tooling:greenkeeper%2Fhusky-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It **

[2020-01-28 16:48] zmichaels11 opened #67 "Build using Docker to improve stability"
Previously we had stability issues with GH Actions, ex: apt-mirror syncs.
To help remedy this, the builds for Ubuntu should run in a Docker container.

[2020-01-28 17:24] zmichaels11 opened #68 "catkin-pkg distribution was not found"
When you install ros1 it remove catkin-pkg, so this only affects rosbag2_bag_v2 right now

https://github.com/ros2/rosbag2_bag_v2/commit/eccd07f2485f882995690c41b00fe334aa90369b/checks?check_suite_id=424167960#step:3:3784

### Actions
* setup-ros@0.0.13
* action-ros-ci@0.0.13

[2020-01-29 18:59] j-rivero opened #69 "Proposal: create github actions that include common commands/actions for recurrent use cases"
While looking into the action for generating code coverage reports I realized that we could be replicating code in many different repositories that could be hard to maintain, upgrade or fix. A typical implementation can be found at: https://github.com/ros2/rcpputils/pull/33/files

I'm particularly looking into the `build_and_test` and step:
[code]
The problem I found with this is that the actions

[2020-01-30 06:36] thomas-moulard commented on #69
Agreed - unfortunately there is AFAIK no way to get multiple actions grouped into a single one. For the typescript one, we could always factor our most of the code into an npm package, and make the actions empty "shells". For codecov, it would be challenging, we'd have to fork (and maintain) their Docker-based action.

We have ways to improve on the existing to chain actions more easily and reduce

[2020-01-31 05:41] Arnatious opened #71 "ci fails on windows-latest, 'VisualStudioVersion is not set'"
https://github.com/Arnatious/nodl/runs/418645541?check_suite_focus=true

[2020-01-31 05:49] thomas-moulard commented on #71
Thanks for the bug report. Could you retry w/ 0.0.13?

[2020-01-31 06:33] Arnatious commented on #71
@thomas-moulard updated and run successfully - new issue - log directory is not generated based on usage in https://github.com/ros2/rosbag2/blob/master/.github/workflows/test.yml

Coverage is also not working - might be due to only invoking linters in current test suite
https://github.com/Arnatious/nodl/runs/418696634?check_suite_focus=true

[2020-01-31 06:33] #71 closed

[2020-02-03 17:58] thomas-moulard commented on #31
Moved back from Done to Prioritized as this task is not completed (not in the on-call dashboard, build action-ros2-ci is actually not used in the repo).

[2020-02-03 18:33] greenkeeper[bot] opened #72 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.18.0` to `2.19.0`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros-ci/compare/master...ros-tooling:greenkeeper%2F%40typescript-eslint%2Fparser-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **t

[2020-02-04 17:20] j-rivero commented on #69
Wow I should have find better before proposing something that is not supported upstream sorry. [Different](https://github.community/t5/GitHub-Actions/Allow-an-action-which-groups-other-actions/td-p/34604) [answers](https://github.community/t5/GitHub-Actions/Can-i-use-action-as-a-full-job-to-encapsulate-all-CI-process/m-p/41687#) in [github](https://github.community/t5/GitHub-Actions/Being-DRY-cent

[2020-02-04 17:20] #69 closed

[2020-02-06 19:49] Arnatious opened #73 "ament_flake8 tests fail incorrectly due to wrong import order"
https://github.com/ubuntu-robotics/nodl/pull/4/checks?check_run_id=430372431

## File Hierarchy
[code]

## test_nodl_parse.py imports
[code]

## Test output
[code]

[2020-02-06 19:55] emersonknapp commented on #73
@Arnatious do you see this issue when you run `colcon test` locally after setting up according to https://index.ros.org/doc/ros2/Installation/Crystal/Linux-Development-Setup/#install-development-tools-and-ros-tools ?

[2020-02-06 20:05] Arnatious commented on #73
@emersonknapp thanks for reminding me to do that.

I do, seems the issue is elsewhere

[2020-02-06 20:05] #73 closed

[2020-02-06 20:12] emersonknapp commented on #73
Maybe take a look at the config file for ament_flake8 to see if it is different from your intuition https://github.com/ament/ament_lint/blob/master/ament_flake8/ament_flake8/configuration/ament_flake8.ini - perhaps the google import order style is the thing

[2020-02-10 18:41] greenkeeper[bot] opened #77 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.19.0` to `2.19.1`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros-ci/compare/master...ros-tooling:greenkeeper%2F%40typescript-eslint%2Feslint-plugin-2.19.1).

This version is **covered** by your **current version range** and after updating it in yo

[2020-02-11 04:42] Arnatious opened #79 "Windows source build failing, "Could not find ASIO""
Per https://github.com/ubuntu-robotics/nodl/pull/4/checks?check_run_id=437779651

[code]

[2020-02-11 16:59] thomas-moulard commented on #79
Thanks for the bug report! The Windows support is still quite preliminary, so it is possible that we are missing something here. Feel free to contribute a change (it may be related to `setup-ros2`), otherwise, we'll try to get to this issue.

[2020-02-11 19:00] greenkeeper[bot] opened #80 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `13.7.0` to `13.7.1`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros-ci/compare/master...ros-tooling:greenkeeper%2F%40types%2Fnode-13.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node

[2020-02-11 20:37] piraka9011 opened #81 "macOS cannot run rclcpp::init in tests"
The [ros2_control](https://github.com/ros-controls/ros2_control) repo recently added GH actions.

Any of the tests that use `rclcpp::init()` in the setup fail on macOS with the following stack trace:
[code]

An example stacktrace can be found in the run [here](https://github.com/ros-controls/ros2_control/runs/438002874).

The error cannot be reproduced locally on both Ubuntu and macOS systems. Thi

[2020-02-11 21:52] piraka9011 commented on #34
Closing since the original issue this was reported against does not demonstrate breakage in the GH action.
This is an issue related to rosbag2_bagv2's CMakeLists producing a warning and not a failure when a package is not found.
Not failing a build when CMakeLists produces a warning is normal behavior.

An issue against rosbag2_bag_v2 has been opened up instead [here](https://github.com/ros2/rosba

[2020-02-11 21:52] #34 closed

[2020-02-12 16:27] thomas-moulard commented on #81
I actually ran into it in the past, but didn't have the bandwidth to actually go and understand/fix the underlying issue.

[2020-02-21 00:12] seanyen opened #90 "Automatically package dependencies resolving by `rosinstall_generator`?"
I am not sure if this has been discussed, but would it be useful to have a feature to automatically generate the `.rosinstall` file with only the packages within the dependency graph and then do `vcs import` for the build-from-source CI?

For example, for `rmw_implemenation` package, we can get its build dependencies in `.rosinstall` by:

[code]

As more ROS 2 packages are released into `rosdistro

[2020-02-21 01:09] thomas-moulard commented on #90
Hi Sean, actually you can already achieve what you want to do easily:

[code]

Maybe we could improve README.md to document this?

[2020-02-24 20:09] seanyen commented on #90
That looks good! And maybe we can export the `ROSDISTRO` as a parameter from the action too, so we can align the distro to use.

(Currently it is hard-coded as `eloquent`.)
https://github.com/ros-tooling/action-ros-ci/blob/56d4189d942ecba88c165255c8ec7fd975ffa2f1/src/action-ros-ci.ts#L189

[2020-02-24 20:22] seanyen opened #92 "[Feature Request] Onboard to the GitHub Starter Workflows"
Please excuse me if I submit this idea on the wrong place.

For a repository which is not yet to onboard with GitHub workflow, a list of templates will be shown to developers to help quickly onboard based on their project types. It could be useful for developers who is looking for a beginner CI/CD workflow for their projects.

And GitHub manages the list of templates here: https://github.com/actio

[2020-02-24 20:58] thomas-moulard commented on #92
This sounds awesome! Yes, I guess this could replace the action-ci-template repo? It may be a bit too niche for a general repo though, but we could give it a shot I guess.

[2020-02-24 20:59] thomas-moulard commented on #90
Oh yes, we should not hardcode that. This should be a param defaulting to `eloquent`. Maybe more an input param than an output one?

[2020-02-24 22:33] Karsten1987 opened #93 "[macos] unable to compile poco_vendor"
As seen when trying to [add GitHub actions to ROS2 diagnostics](https://github.com/ros/diagnostics/pull/133/checks?check_run_id=465561969) the macos actions is unable to compile.

[code]

I can confirm that `poco_vendor` compiles version 1.81. successfully locally on my OSX computer.

[2020-02-25 02:30] #72 closed

[2020-02-25 03:27] #62 closed

[2020-02-26 22:04] seanyen opened #97 "[Feature Request] Options to use colcon user configuration override"
## Description

As of this writing, `action-ros-ci` composes and executes `colcon` tasks in the following order:

* `colcon mixin add default <repo>` (optional)
* `colcon build`
* `colcon lcov-result --initial`
* `colcon test`
* `colcon lcov-result`

Beyond the common flow, `action-ros-ci` synthesizes default parameters to some tasks. For example, `--event-handlers console_cohesion+ --symlink-inst

[2020-02-27 23:01] piraka9011 commented on #97
This is a reasonable enhancement.
Some questions:
* Can this file also be hosted in a gist or should this be local to the repo it's running in only?
* Would it be better to add this feature to `setup-ros-docker` and improve that as well?

[2020-02-27 23:23] seanyen commented on #97
I don't think `colcon` can take a URL here: https://github.com/colcon/colcon-defaults/blob/78f808ef9705a15a52d00b0adfee342d1390b348/colcon_defaults/argument_parser/defaults.py#L72

But I think developers can add another step before using this action to copy their `gist`?

Interesting. Can you elaborate more on what's the improvement you envision?

[2020-02-28 00:47] piraka9011 commented on #97
What I meant is doing something similar to action-ros-ci where we allow users to pass a file or a URL ([see this for example](https://github.com/ros-tooling/action-ros-ci/blob/638a10032e2feb1ff17aad18caf50fc34c8275ca/src/action-ros-ci.ts#L20)).

Thought you might have some insight as to whether there would have to be a docker specific implementation if we want to add this feature to a docker actio

[2020-02-28 00:51] seanyen commented on #97
Ah sure. That's something doable.

[2020-02-28 16:10] piraka9011 opened #99 "Windows nightly test workflows are failing"
## Description

The windows nightly test builds for action-ros-ci are failing.

### Expected Behavior

The workflows should pass.

### Actual Behavior

The workflows are failing.

## Additional context

This might simply require a bump of the setup-ros version. This issue started 2 days ago however, changes to the windows builds were made over 6 days ago and would have been caught earlier.

[2020-02-28 17:16] piraka9011 commented on #99
Resolved by #98

[2020-02-28 17:16] #99 closed

[2020-03-02 18:34] #77 closed

[2020-03-04 18:40] jacobperron opened #101 "rosdep always installs binaries for Eloquent"
## Description

If we want to run CI for a different ROS distribution using a binary installation, rosdep will only install binary dependencies for Eloquent.

### Expected Behavior

The distro that rosdep uses should be based on the ROS binary installation, if one is installed. Otherwise, I think a reasonable default if the latest available distro (currently Eloquent).

### Actual Behavior

rosdep

[2020-03-04 18:48] jacobperron commented on #101
See https://github.com/ros-tooling/action-ros-ci/pull/102 for a proposed fix.

[2020-03-05 18:21] Karsten1987 commented on #93
friendly ping. Currently diagnostics and ros_control can't rely on OSX builds.

[2020-03-05 18:32] piraka9011 commented on #93
@Karsten1987 I'll pull this into our backlog grooming and prioritize it since it's affecting a few repos.

The action is compiling 1.8.0.1 and you're compiling 1.81. Are you sure this isn't a poco specific issue?

[2020-03-05 19:13] Karsten1987 commented on #93
I can't tell why the action is compiling 1.8.0.1. To my understanding the GitHub action should rely on  whatever is in the `poco_vendor` upstream package, should it not?
I've tested locally simply by checking out `poco_vendor` and run it with colcon.

[2020-03-05 20:36] #90 closed

[2020-03-05 21:20] piraka9011 commented on #93
It seems this issue might be related to #101. `rosdep` is not pulling in the latest sources. But yes [by default](https://github.com/ros-tooling/action-ros-ci/blob/08770eb3599d4d2dde3f3ec90898ad97929c2399/action.yml#L44) it should be using master.

Looks like the version is different tho? [`poco_vendor`'s `CMakeLists`](https://github.com/ros2/poco_vendor/blob/master/CMakeLists.txt)

[2020-03-06 21:13] emersonknapp commented on #31
File talker accomplishes this, but we want to link to it on the action-ros2-ci readme before closing this

[2020-03-06 21:20] emersonknapp commented on #56
This is probably fixed, but we should triple check

[2020-03-06 21:24] emersonknapp commented on #58
This may be related to https://github.com/ros-tooling/action-ros-ci/pull/102

[2020-03-06 21:29] emersonknapp commented on #68
Duplicate of https://github.com/ros-tooling/setup-ros/issues/50

[2020-03-06 21:29] #68 closed

[2020-03-06 21:32] emersonknapp commented on #79
@seanyen do you have any insight on this issue?

[2020-03-09 20:03] #101 closed

[2020-03-10 00:13] jacobperron opened #108 "Support supplementary repo files"
## Description

In addition to the `vcs-repo-file-url` input, it would be nice to be able to pass supplemental repo files. The use-case is for projects that require more than one repository that are not part of the core repositories listed at https://github.com/ros2/ros2. Rather than making a copy of the default repositories file and appending to it, it would be nicer to just be able to provide on

[2020-03-13 16:41] emersonknapp commented on #108
We are thinking that instead of this - we provide another atomic action that combines repo files as an option. Discussion open

[2020-03-13 17:43] seanyen commented on #108
In ROS 1, [`wstool`](http://wiki.ros.org/wstool) can do `wstool merge xxx.rosinstall` to add/override a upstream `.rosinstall` files. This is handy in the past for our team bootstrapping [`ROS Melodic on Windows`](https://aka.ms/ros/docs) and running CI with patched repositories. If this is also a valid and something ppl need for ROS 2, I would lean toward making this feature happen in [`vcstool`]

[2020-03-13 17:53] piraka9011 commented on #108
cc: @dirk-thomas

[2020-03-13 18:24] jacobperron commented on #108
Doesn't `vcs import` have the same affect as `wstool merge`? For our ROS 2 CI jobs, we are running `vcs import` for each repos file we want to merge with the workspace:

https://github.com/ros2/ci/blob/7e2a41d4c09b907dba2cf1cc0ded6a16b0a43e13/ros2_batch_job/__main__.py#L654-L655

[2020-03-13 18:25] jacobperron commented on #108
Adding a new action for this is okay with me. I don't have a preference. Maybe listing some pros/cons for each approach would help.

[2020-03-13 18:29] piraka9011 commented on #108
I didn't know this, that is good to know.

[2020-03-13 18:30] seanyen commented on #108
Ah, I didn't know `vcstool` can do the multiple import and merge `.repos` files. In this case, you can totally disregard my comments. :)

[2020-03-16 17:57] Karsten1987 commented on #81
Is there any news on this? It's still holding back the use of github actions on repos such as ros2_control, ros2_controllers and diagnostics.

@thomas-moulard if you could give me a few pointers on where to start digging into it, I am happy to help here.

[2020-03-16 18:31] thomas-moulard commented on #81
No progress here, unfortunately. A PR would be very much appreciated.

The problem happens here: https://github.com/ros-tooling/action-ros-ci/blob/master/src/action-ros-ci.ts#L252-L256

Somehow, it seems that the environment is not properly setup on OS X, when we invoke `colcon test`. I'd probably start by adding `env &&` on my fork, open a PR from my fork to my fork, to get the CI running (don't

[2020-03-16 18:34] piraka9011 commented on #81
I've found this action to be helpful for debugging: [mxschmitt/action-tmate](https://github.com/mxschmitt/action-tmate)

[2020-03-23 17:44] greenkeeper[bot] opened #111 "An in-range update of @typescript-eslint/parser is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.24.0` to `2.25.0`.

🚨 [View failing branch](https://github.com/ro

[2020-03-23 17:51] greenkeeper[bot] opened #112 "An in-range update of @typescript-eslint/eslint-plugin is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint) was updated from `2.24.0` to `2.25.0`.

🚨 [View failing branch](https://github

[2020-03-27 16:19] emersonknapp commented on #56
This is fixed in codecov

[2020-03-27 16:19] #56 closed

[2020-03-27 22:26] Karsten1987 commented on #108
I just came across that exact use case (pulling in additional sources) and tried to do this with plain github action commands. In the following snippets, `rmw_iceoryx` is the repo I am placing the GitHub actions, `iceoryx` is the additional repo I am trying to place into my workspace:

[code]

However, when I then try to execute the compilation with
[code]
this fails with:
[code]

Is there a chanc

[2020-03-27 22:37] thomas-moulard commented on #108
@Karsten1987 Why don't you generate a VCS repo with iceory, and let the action do the setup for you?

[2020-03-27 23:08] Karsten1987 commented on #108
agreed, I could do this. But I am generally not a big fan of it since we then have to maintain a copy of that `ros2.repos + iceoryx` file. I really only try to pull in an additional external repo - or as the motivation of this ticket is to add an addtional repos file.

[2020-03-30 06:58] greenkeeper[bot] opened #117 "An in-range update of ts-jest is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `25.2.1` to `25.3.0`.

🚨 [View failing branch](https://github.com/ros-tooling/action-ros-ci/compare/mas

[2020-03-30 09:14] rotu opened #119 "Marketplace version is 0.0.12, should be 0.0.14"
## Description

Latest version is 0.0.14 but Marketplace listing shows 0.0.12

![E3AEC6CB-4383-4AC1-B62D-545A21CFBCB0](https://user-images.githubusercontent.com/119948/77895639-b21bec00-723c-11ea-9575-001d16efc6e2.png)

[2020-03-30 09:31] rotu opened #120 "Not obvious how to correctly build from source"
## Description
Fails to build with Ubuntu 18.04 and ROS source (i.e. master).

Note that all other platform/district pairs appear to build.
[code]

https://github.com/RoverRobotics-forks/rmw_cyclonedds/pull/1/checks?check_run_id=544943756

## Exit Criteria

* [ ] All inputs of the action are validated and properly throw an error if the input parameter is invalid
* [ ] Clarify the documentation to

[2020-03-30 15:18] thomas-moulard commented on #120
`source` is not a valid value for `required-ros-distributions` for action `setup-ros`.

There is a bug in the doc in https://github.com/ros-tooling/setup-ros/blob/master/action.yml
An empty string should be passed instead.

[2020-03-30 15:34] rotu commented on #120
Thanks! That's exactly why I made this mistake. Here are some other suggestions which could help:

1. `required-ros-distributions` doesn't really tell me that it's binaries. Maybe rename to 'binary-ros-distributions`.
2. I expect the failure message to mention that the provided value is invalid.
3. I expect the Mac OS and Windows to also fail if given an invalid distribution. I see that this argum

[2020-03-31 08:16] mikaelarguedas opened #122 "Action cannot run standalone, relies on packages not listed as prerequisites"
## Description

This action uses packages like `curl` that are not installed by this action and not provided by the official ros docker images

### Expected Behavior

Action should install those and run without crashing on missing packages

### Actual Behavior

Fails on `curl` invocation: https://github.com/mikaelarguedas/sros2/runs/541489082

## To Reproduce
** Steps to reproduce the behavior, e.

[2020-03-31 15:07] thomas-moulard commented on #122
Hi @mikaelarguedas, you need to use `setup-ros` to setup the CI environment. That's why you're running into this issue. If you want to use the OSRF docker image, you could always add `apt-get install -y curl` to your workflow.

[2020-03-31 15:22] mikaelarguedas commented on #122
Hi @thomas-moulard, yeah that's what I'm currently doing (installing curl by hand https://github.com/ros2/sros2/blob/535a700bb73a831bfb70e0020e5f3a31f44472b6/.github/workflows/test.yml#L17).
For various reason `setup-ros` is not working for my use case so I'm using the OSRF docker images.
Maybe the only thing to do to close this issue is to add curl to the "Requirements" part of the readme.
[code]

[2020-03-31 15:30] thomas-moulard commented on #122
+1 on that, I completely agree. We should track those better, ideally having a quick check of what's in the path at the beginning could go a long way too.

[2020-04-01 01:49] thomas-moulard commented on #119
Pushed 0.0.15 to marketplace, thanks for the bug report!

[2020-04-01 01:49] #119 closed

[2020-04-01 01:50] thomas-moulard commented on #117
Updated manually.

[2020-04-01 01:50] #117 closed

[2020-04-01 01:50] thomas-moulard commented on #112
Updated manually.

[2020-04-01 01:50] #112 closed

[2020-04-01 01:52] #80 closed

[2020-04-01 10:01] rotu opened #126 "Pull request hook fails to find pathspec"
## Description
CI fails to find pathspec for pull request hook. I believe it’s likely looking at the wrong remote for the vcs import step (the targeted repo versus the repo containing the pull request hook)

### Expected Behavior
PR branch is pulled in and tested.

### Actual Behavior

Failure log:

https://github.com/ros2/rmw_cyclonedds/runs/551468986?check_suite_focus=true

[code]

[2020-04-01 14:05] mikaelarguedas commented on #122
minimal README fix at #127

[2020-04-03 00:22] thomas-moulard commented on #111
Closing as dependabot will update those deps.

[2020-04-03 00:22] #111 closed

[2020-04-06 17:47] thomas-moulard commented on #108
Fixed by https://github.com/ros-tooling/action-ros-ci/pull/121

[2020-04-06 19:38] rotu opened #143 "Make step failures less generic"
## Description
When a step fails, CI should report the step which failed.

## Completion Criteria
Make failures report that colcon (or whatever tool) failed instead of bash.

See https://github.com/RoverRobotics-forks/rmw_cyclonedds/runs/565373542?check_suite_focus=true

![image](https://user-images.githubusercontent.com/119948/78597994-10843400-7814-11ea-882d-4561d5a28250.png)

![image](https://u

[2020-04-06 21:15] thomas-moulard commented on #143
If you click on "Invoking bash...", you can see the tool output. You can also download the raw logs.

[2020-04-06 21:25] rotu commented on #143
I know how to dig into the data. I was calling out that the top-level error is pretty unuseful. This seems to be a negative consequence of wrapping everything in a new bash script as opposed to using ToolRunner directly.

[2020-04-06 21:53] rotu opened #144 "Use Microsoft setup-msbuild"
## Description

Consider using https://github.com/microsoft/setup-msbuild instead of invoking the vcvarsall.bat script by path.

[2020-04-09 21:56] dabonnie commented on #79
I ran into this issue as well here: https://github.com/ros-tooling/system_metrics_collector/pull/132

It appears that there is a [possible workaround](https://index.ros.org/doc/ros2/Troubleshooting/#cmake-packages-unable-to-find-asio-tinyxml2-tinyxml-eigen-or-log4cxx), but think it needs to happen in https://github.com/ros-tooling/setup-ros.

[2020-04-10 16:54] emersonknapp commented on #126
This seems to happen occasionally, maybe we need some retry logic around the checkout.

[2020-04-10 16:56] emersonknapp commented on #143
It would be useful to try and parse error output to get more useful data.

[2020-04-10 16:56] emersonknapp commented on #144
This seems worth considering, adding to backlog to look.

[2020-04-10 18:58] rotu commented on #143
I don't think even parsing output is needed - simply *not* wrapping all commands in a bash shell would suffice.

[2020-04-11 00:18] rotu commented on #108
@thomas-moulard Did you forget to close this issue?

[2020-04-11 00:46] Karsten1987 commented on #108
I don't think that this issue should be closed. See here:https://github.com/ros-tooling/action-ros-ci/pull/121#issuecomment-610060636

[2020-04-11 01:14] rotu opened #157 "Support simultaneous PRs"
## Description

It would be nice to have some support for simultaneous PRs. ROS development is spread across many repositories and it would be nice to be able to support the use case where pull requests are needed to keep things building.

## Related Issues

Similar functionality introduced here, where additional repos files can be added. https://github.com/ros-tooling/action-ros-ci/issues/108
Thi

[2020-04-11 02:15] thomas-moulard commented on #108
@rotu - yes I'd like to release the repo before closing this.

@Karsten1987 - your problem actually is independent from this issue. What I told you is just plain wrong. It's impossible to store `repos` files in a repo and use this action the way it's designed now, whether it's one repo or not. I'll open another issue to track your problem, in particular. Sorry for the confusion, and thanks for bar

[2020-04-12 10:06] heethesh opened #158 "Failure with ROS melodic"
I am trying to test this out with a ROS melodic package. This is my [test repo](https://github.com/heethesh/ros_ci_test_package).

My workflow looks like the following:
[code]

However, the action fails for me with the following error:
[code]

Looks like a Python compatibility issue ([similar issue](https://github.com/ament/ament_package/issues/42)).

What is the right way to use this action with

[2020-04-12 15:18] piraka9011 commented on #158
Melodic uses Python 2 and this syntax is Python 3.
See [PEP 3132](https://www.python.org/dev/peps/pep-3132/) and this [SA Answer](https://stackoverflow.com/questions/16563623/invalid-syntax-python-starred-expressions).

Melodic shouldn't be using `ament_package`? You build setup looks correct.
Can you change [this line](https://github.com/heethesh/ros_ci_test_package/blob/7fafee567b92dd382102a88ab

[2020-04-12 17:19] heethesh commented on #158
@piraka9011 no luck with CMakeLists updates, still the same issue

[2020-04-13 19:24] seanyen opened #159 "[bug] submodule didn't check out recursively by action-ros-ci"
## Description
For a repository with sub-modules, the sub-modules were not checked out by this action.

### Expected Behavior
The Git sub-modules should be checked out.

### Actual Behavior
Only the repository itself gets checked out.

### Information

I think we can add `--recursive` when we do `vcs import`.
https://github.com/ros-tooling/action-ros-ci/blob/master/src/action-ros-ci.ts#L216

[2020-04-18 07:08] thomas-moulard commented on #159
Closing as 0.0.16 contains the fix.

[2020-04-18 07:08] #159 closed

[2020-04-24 00:28] rotu opened #175 "action-ros-ci always assumes Eloquent when building from source"
https://github.com/ros-tooling/action-ros-ci/blob/b22b3bdcfe5914903491fc7ee9a7a94efa33e2c5/src/action-ros-ci.ts#L247

This assumption that the default distro if building from source is not great and causes [installing undesired packages from the wrong distro](https://github.com/ros2/rmw_cyclonedds/issues/164#issue-605941052). Maybe the rosdistro should be gotten by an explicit argument to the acti

[2020-04-24 01:34] thomas-moulard commented on #175
Agreed, we should add a flag for that. `rosdep-ros-distribution` and let users choose what they want.

[2020-04-24 16:37] emersonknapp commented on #157
We want to consider branches on forks for this functionality as well - needs to merge onto the upstream master before building

[2020-04-24 17:15] rotu commented on #157
If I understand you correctly, I think that's what I meant by "If any pull requests are open, merge them to the local source before running CI." Maybe you read my suggestion as "also run the tests of any packages in linked pull requests" which is not what I meant.

[2020-04-24 20:47] rotu opened #177 "Suppress RMW implementations or packages"
## Description

There's no way I can see to suppress other RMW implementations when building from ros2.repos. In general it may be a good option to be able to ignore packages by name.

## Related Issues

Originally discovered in https://github.com/ros2/rmw_dds_common/issues/16#issuecomment-619141087

## Completion Criteria

* Add a way to filter out unwanted packages

## Implementation Notes / Sug

[2020-04-24 21:17] #122 closed

[2020-04-30 21:20] Karsten1987 opened #190 "Unhandled error event while uploading artifact"
The GitHub actions on Linux seem to fail when uploading the artifacts.

[code]

Seen at [rosbag2](https://github.com/ros2/rosbag2/pull/396/checks?check_run_id=634157218) and [diagnostics](https://github.com/ros/diagnostics/pull/118/checks?check_run_id=628647279)

[2020-04-30 21:34] piraka9011 commented on #190
`actions/upload-artifact` should use `v1` and not master. Opening a PR.

[2020-05-01 18:20] #190 closed

[2020-05-04 22:05] thomas-moulard commented on #67
https://github.com/ros-tooling/setup-ros-docker should solve this issue. As there is no clear exit criteria, feel free to re-open a more specific issue.

[2020-05-04 22:05] #67 closed

[2020-05-04 22:08] thomas-moulard commented on #108
A new release is out, closing now.

[2020-05-04 22:08] #108 closed

[2020-05-04 22:13] thomas-moulard opened #195 "Add support for passing a colcon defaults.yaml file"
## Description

`colcon` behavior can be modified by passing a `defaults.yaml` file (see [doc](https://colcon.readthedocs.io/en/released/user/configuration.html#defaults-yaml)).

## Related Issues

TBD

## Completion Criteria

* I can specify a defaults.yaml file when running my workflow
* I can specify a URL as a default.yaml file when running my workflow

## Implementation Notes / Suggestions

A

[2020-05-04 22:27] thomas-moulard commented on #93
Closing this one as poco is not necessary anymore.

[2020-05-04 22:27] #93 closed

[2020-05-04 22:28] thomas-moulard commented on #195
Closing in favor of https://app.zenhub.com/workspaces/aws-robotics-open-source-roadmap-5d9662bf4e1ec400011c53c6/issues/ros-tooling/action-ros-ci/97

[2020-05-04 22:28] #195 closed

[2020-05-26 15:46] heethesh commented on #158
@piraka9011 Any updates on solving this? Do you have any suggestions for alternate CI builds for ROS 1 packages in the mean time?

[2020-05-26 21:29] piraka9011 opened #220 "Add annotations to build results"
## Description

GitHub actions has [annotations support](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-status-checks) for actions/workflow runs.
It would be helpful to display the result of a `colcon build|test` run to make it easier to debug the results of a workflow.

## Related Issues

N/A

## Completion Criteria

* [ ] Annotation support for a `colcon buil

[2020-06-04 19:17] mm318 opened #224 "Support private repos"
## Description

As stated in the README, `action-ros-ci` checks out code using `vcs import`, which doesn't seem to work for private GitHub repos.

## Related Issues

While `actions/checkout@v2` supports checking out private GitHub repos, the example in the README only uses that checked out repo for generating a `*.repos` file; `action-ros-ci` doesn't actually build that checked out code.

## Compl

[2020-06-08 23:11] jacobperron opened #229 "vcs repos file existence check fails on Windows"
## Description

I'm trying to point `vcs-repo-file-url` to a repos file that exists in the root of the same repository as where the action is being run. e.g.:

        vcs-repo-file-url: |
                https://raw.githubusercontent.com/ros2/ros2/dashing/ros2.repos
                "${{ github.workspace }}\ros2_java_desktop.repos"

But, `curl` fails since the necessary `file://` prefix is not bei

[2020-06-09 18:15] jacobperron commented on #229
Looks like if I remove the quotation marks (`"`), then the action works as expected. For example:

[code]

Maybe the action could be more robust to the presence of quotation marks, but seems like user-error on my part.

[2020-06-09 18:15] #229 closed

[2020-06-18 01:26] christophebedard opened #238 "Collect Python coverage data"
## Description

Currently, `action-ros-ci` can use `colcon-lcov-result` to collect C/C++ coverage information.

[`colcon-coveragepy-result`](https://github.com/colcon/colcon-coveragepy-result) can do that for Python coverage information.

Also, if you want to generate Python coverage information, which seems to be [done by default for Python tests](https://github.com/ros-tooling/action-ros-ci/blob

[2020-06-24 18:14] jikawa-az commented on #120
Addressed in [Validate that the distribution input is correct #196](https://github.com/ros-tooling/setup-ros/pull/196)

[2020-06-24 18:14] #120 closed

[2020-06-25 16:31] Karsten1987 opened #245 "compilation failed on missing importlib_resources"
## Description
Our ros2-control GH actions started to fail because of clearly unrelated issues: https://github.com/ros-controls/ros2_control/pull/109/checks?check_run_id=808089795

### Expected Behavior
GH action completes

### Actual Behavior
[code]

## Additional context
For more information, is this using the current ROS2 master? If so, I would expect the outcome here to be en pair with what we

[2020-06-25 17:19] bmagyar commented on #245
My mistake, I didn't take latest of both this repo and setup-ros. Latest of both works, I'll close this.

[2020-06-25 17:20] #245 closed

[2020-06-30 05:04] jikawa-az commented on #175
Pull request for this issue is: https://github.com/ros-tooling/action-ros-ci/pull/250

[2020-06-30 16:43] christophebedard commented on #238
Related to this, is there any particular reason why Python coverage (currently only for pure Python packages) is enabled by default?

[2020-06-30 16:51] thomas-moulard commented on #238
No, I think we should enable all coverage by default unless it slows down the workflow.

[2020-06-30 17:46] christophebedard commented on #238
Got it! I modified this issue to make its goal more explicit.

As part of that last criterion, and as a follow-up to #109 (cc @mikaelarguedas), I can create a PR that enables all coverage generation by default using mixins. Then we can see if/how it affects the workflow, timewise.

[2020-06-30 18:25] thomas-moulard commented on #238
One thing to keep in mind is that we should try not to break people using the action, generating coverage is OK if it's additive (we do something we were not doing before), I'd be cautious if we were to start heavily modifying the default behavior of the actions. Even though we're not at 1.0 yet, we're trying to make it easy to update for our users.

[2020-06-30 19:37] christophebedard commented on #238
Makes sense. The only thing I can think of is #109 itself, since it changes the location of the Python coverage data. Then, assuming that's fine and that we can build on it, the rest only adds stuff (C/C++ coverage + coverage for Python code in CMake packages).

[2020-06-30 20:29] mikaelarguedas commented on #238
:+1: 109 will change the location of the coverage files letting colcon decide where they go. Although looks like the coveragepy-result invocation will generate another single file with a "fixed" location that people can use.

The other thing that comes to mind is that this adds what seems to me (If I Read the Code Properly) like a required dependency (even if listed as optional in #247 it looks li

[2020-06-30 23:38] christophebedard commented on #238
I assumed that this wasn't a "supported" use-case, but that's a good point. The README does indeed clearly say it's required.

I could fix it in the follow-up PR which I described above.

[2020-07-07 20:48] dabonnie opened #258 "Xenial Kinetic environment dependency failure"
## Description
Xenial Kinetic actions fails due to a missing package dependency for `ament_cmake_core`, but the package appears to be installed via the `setup-ros` action.

Note: this issue can be avoided by using containers instead of the actions ubuntu, e.g., `ubuntu-xenial-ros-kinetic-ros-base-latest`.

### Expected Behavior
The action runs successfully.

### Actual Behavior
The action fails.

[2020-07-09 15:36] piraka9011 commented on #238
Closing since #247 is merged.

[2020-07-09 15:36] #238 closed

[2020-07-10 07:56] emersonknapp commented on #175
@jikawa-az you should reverse the references in your above comment. Instead of manually referencing the PR in this issue, you can use the wording "Resolves #175" in the description for your PR, which will do 2 things: creating a link in the comment chain here, as well as automatically closing this issue when you merge the PR.

[2020-07-10 21:29] dabonnie commented on #258
I'm also seeing this with `dashing`, where `importlib-resources` and `importlib-metadata` need to be installed manually.

[2020-07-14 17:22] piraka9011 opened #268 "Flaky Windows CI"
## Description

Windows fails every few runs with

Example runs:
* https://github.com/ros-tooling/action-ros-ci/runs/869822983?check_suite_focus=true
* https://github.com/ros-tooling/action-ros-ci/runs/869598089?check_suite_focus=true
* https://github.com/ros-tooling/action-ros-ci/runs/869376795?check_suite_focus=true

### Expected Behavior

CI passes

### Actual Behavior

Fails when running:

[co

[2020-07-14 22:36] emersonknapp opened #270 "Create ros-tooling private repo to test this build with access tokens"
## Description

As a follow up to https://github.com/ros-tooling/action-ros-ci/pull/252 which enables using this action on private repositories - add automated testing to make sure this feature continues working as we expect it to.

## Related Issues

https://github.com/ros-tooling/action-ros-ci/pull/252

## Completion Criteria

* [ ] Some automated test infrastructure verifies that we can build p

[2020-07-14 23:59] Karsten1987 opened #271 "Binary Job with GH actions?"
How can I use the current GH actions to run a binary job? If have the following configuration:

[code]

I can see that the desktop variant (foxy) is installed correctly, still yet the actual compilation fails due to - what looks to me - not sourcing the installed desktop variant beforehand:
[code]
 What's the correct way of doing so and practically building an overlay workspace based on a binary d

[2020-07-15 01:11] Karsten1987 commented on #271
@jacobperron pointed me to the [answer](https://github.com/ros-tooling/action-ros-ci/blob/bf295634cb459db55dc7639e9a7c0a14bc35cff7/action.yml#L37).

Sorry for the noise.

[2020-07-15 01:11] #271 closed

[2020-07-16 23:32] JWhitleyWork commented on #175
FYI: Using the `source-ros-binary-installation` flag with the value of the installation that you want to source works around this issue.

[2020-07-16 23:54] JWhitleyWork commented on #258
This is actually due to a default behavior plus a change to `ament_package`:

1. By default, `action-ros-ci` will import the latest version of the repositories in https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos and build them, even if you're targeting a ROS1 distribution.
2. A recent change was made to `ament_package` (see https://github.com/ament/ament_package/commit/4db28d437e28dfd

[2020-07-17 00:18] dabonnie commented on #258
@JWhitleyWork  thanks, you're right: I can't [reproduce in a project](https://github.com/aws-robotics/utils-common/pull/62/checks) which used the specification of the `source-ros-binary-installation` and `vcs-repo-file-url`. Closing this.

[2020-07-17 00:18] #258 closed

[2020-07-20 21:31] emersonknapp opened #276 "Allow for specifying rosdep keys to skip"
## Description

Some packages' rosdep keys don't resolve correctly when using `--ignore-src` (e.g. FastRTPS). The ROS 2 build from source instructions specify a list of keys to skip (https://index.ros.org/doc/ros2/Installation/Foxy/Linux-Development-Setup/#install-dependencies-using-rosdep). We should allow the user to specify such a list of keys for their build as well.

## Related Issues

N/A

#

[2020-07-21 00:09] #224 closed

[2020-07-29 16:47] ralph-lange commented on #271
I stumbled across the same problem. `source-ros-binary-installation` should definitely be mentioned prominently in the README.md.

[2020-07-29 17:33] emersonknapp commented on #271
Thanks for this input - we've just put through this PR https://github.com/ros-tooling/action-ros-ci/pull/278 that makes it required to specify a target ROS distribution, and removes the confusingly-named `source-ros-binary-installation` argument. Additionally I've just opened https://github.com/ros-tooling/action-ros-ci/pull/284 to update the README to mention it. With those changes do you think t

[2020-07-29 17:41] ralph-lange commented on #271
Yes, the new inputs in https://github.com/ros-tooling/action-ros-ci/pull/278/ make it much clearer. Please note my comment on https://github.com/ros-tooling/action-ros-ci/pull/284/.

[2020-07-31 09:07] piraka9011 commented on #268
Mostly resolved by docker config and #267

[2020-07-31 09:07] #268 closed

[2020-07-31 12:45] christophebedard opened #286 "Action does not really support developing against ROS 2 Rolling"
## Description

I'm developing a package and I'm testing it against rolling from source, i.e. the packages in the `master` `ros2.repos` file.

Before #278, I could just leave `source-ros-binary-installation` to its default value (empty) and the action wouldn't source anything/any binary install. It would just compile everything from source using the `master` `ros2.repos` file.

After #278, we need

[2020-07-31 13:00] christophebedard commented on #286
I hope I'm not missing anything.

If we can agree on a way to fix/support this, I can implement it.

[2020-07-31 16:15] emersonknapp commented on #177
This enhancement should be treated as "pass arbitrary arguments to `colcon build`"

Implementation note: maybe allow for passing colcon arguments list of strings for build/test each.

[2020-07-31 18:49] emersonknapp commented on #175
This was resolved by https://github.com/ros-tooling/action-ros-ci/pull/278

[2020-07-31 18:49] #175 closed

[2020-07-31 19:13] emersonknapp commented on #286
This is a good call-out! The target ros2 distro should absolutely support `rolling`. `rosdep` looks like it supports it. I think all you need to do for this is add `rolling` to the list of valid ros2 distributions. We want to continue requiring some specification, because it is required for the `rosdep install` command.

[2020-07-31 21:52] christophebedard commented on #286
It looks like I also need to modify `setup-ros`, because `action-ros-ci` wants to source at least one binary install, i.e. `/opt/ros/$DISTRO/setup.sh`.

[2020-07-31 22:20] emersonknapp commented on #286
Under the hood, action-ros-ci does a `touch /opt/ros/$DISTRO/setup.sh` so there is a file there no matter what. If there was no binary distribution installed, this makes it be an empty file, so the `source` command is a no-op.

[2020-08-03 01:28] christophebedard commented on #270
@emersonknapp I've created a repo with a simple package for the test: https://github.com/christophebedard/private-repo-test

It only depends on some `ament_*` packages to keep the build time low (while still being an actual package). Let me know if you have any suggestions. If you think it's all good, I can transfer it to you so that you can transfer it to the ros-tooling org.

[2020-08-03 19:36] flynneva commented on #158
bump on this topic. having the same issues. any solution?

[2020-08-03 20:29] flynneva commented on #158
as a workaround in the mean time @heethesh you can specify your own build/test commands.

see the [udp_com package](https://github.com/continental/udp_com/actions/runs/193822137) for an example.

i'll switch back to using this action once ROS1 is supported and functional

[2020-08-03 20:30] flynneva commented on #158
@piraka9011, maybe we could add to this action "if ros1...run catkin_make" rather than colcon build?

[2020-08-03 20:35] #286 closed

[2020-08-05 22:47] emersonknapp commented on #270
Yeah, I think that's great, thank you for taking action on this. I'll happily add it to the org and connect the test if you transfer the repo to me.

[2020-08-05 23:21] christophebedard commented on #270
Great! I've initiated the transfer.

[2020-08-10 19:48] flynneva opened #297 "windows access is denied error"
## Description
trying to use to test on windows but getting strange error "access is denied".

### Expected Behavior
build and test successfully

### Actual Behavior
access is denied

## To Reproduce
[link to action result](https://github.com/flynneva/rosidl/runs/968242247?check_suite_focus=true)

## System (please complete the following information)
 - OS: Windows 10
 - ROS 2 Distro: Dashing

##

[2020-08-11 16:41] flynneva commented on #297
re-running the action solved the issue....seems to be flakey?

[2020-08-11 16:41] #297 closed

[2020-08-12 03:45] flynneva commented on #31
it might make sense to make the "example" repo for this action as the [actual ROS2 example repo](https://github.com/ros2/examples).

im still getting familiar with this action (having issues setting the ros distro) but would be more than happy to help out with this.

[2020-08-12 03:57] flynneva opened #298 "readme different then actual release"
## Description
to specify distro for this action, the readme says to use "target-rosX-distro". when actually using this action, this is not a valid parameter to pass into the action.

### Expected Behavior
set ros distro with "target-rosX-distro", as per the readme.

### Actual Behavior
no clear way to set rosdistro for action. for linux it looks like it needs "source-ros-binary-installation"..but

[2020-08-12 04:03] flynneva commented on #298
i guess the question really is - what version of this action uses the "target-ros2-distro" param?

[2020-08-12 04:12] emersonknapp commented on #298
Sorry for the confusion - the README here is for the very latest code, which hasn't been released yet. I didn't realize that the marketplace embeds the README from master rather than from the point of the latest release - that's a strange behavior. To solve this, I'll kick off a release now!

[2020-08-12 04:22] flynneva commented on #298
that was the fastest answer + solution + release i have ever seen. <3 thank you

[2020-08-12 04:22] #298 closed

[2020-08-12 05:13] emersonknapp commented on #298
Opened https://github.com/ros-tooling/action-ros-ci/pull/299 to follow up on documentation updates

[2020-08-12 05:16] emersonknapp commented on #31
I'm not sure if the ros2/examples maintainers would like it, but yes, it could be cool to plug this CI into that repo and just point there from here as an example. I think it would be at least worth drafting a PR for it.

[2020-08-12 05:26] emersonknapp commented on #297
Hmm - please feel free to reopen if you see this again - we want to solve it if it's a recurring issue

[2020-08-12 17:28] flynneva opened #300 "ROS1 not being sourced correctly"
## Description
trying to run the new 0.0.18 release for a ROS1 package results in an error that seems to be because the env isnt sourcing the ros1 installation properly.

I tried running the same commands locally and it seems to work ok. not sure what the issue is here.

### Expected Behavior
compiles successfully.

### Actual Behavior
colcon build results in an error similar to one seen when the

[2020-08-12 23:42] jacobperron opened #301 "touch: cannot touch '/opt/ros/foxy/setup.sh': Permission denied"
## Description

I'm trying to run action-ros-ci@0.0.18 on top of setup-ros@0.0.25 for Foxy and seeing the following error:

[code]

### Expected Behavior

No errors produced by action-ros-ci.

### Actual Behavior

Errors.

## To Reproduce

1. Go to https://github.com/osrf/ros2_java/runs/978081944
2. Expand action-ros-ci to see the aforementioned error.

## System (please complete the following inf

[2020-08-13 05:56] thomas-moulard commented on #301
@emersonknapp do you know why we're trying to touch the setup script? This seems unnecessary but maybe I'm missing something, seems like you're the last one who touched this logic :)

[2020-08-13 15:18] emersonknapp commented on #301
Yeah, @jikawa-az and I worked on this last. The reason for that command is so that the file can always be sourced safely - some workspaces do not install any dependencies that end up at /opt/ros, and therefore don't create a setup file, but all workspaces need to target a ros distribution (for rosdep to use). The logic is intended to simplify "whether or not I should source?" - thought it looks li

[2020-08-13 21:56] #301 closed

[2020-08-13 22:02] emersonknapp commented on #301
@jacobperron please try the new patch https://github.com/ros-tooling/action-ros-ci/releases/tag/0.0.19 and let us know if you run into any problems!

[2020-08-13 23:33] jacobperron commented on #301
@emersonknapp LGTM, thanks for the fix!

[2020-08-14 15:49] flynneva commented on #300
im a little confused by why this action is re-building packages that should be available in the '/opt/ros/<distro>/' install path.

from the actions logs....it looks like it isnt looking in the `opt` directory at all to see if a message is there or not:
[code]

I would imagine that it should spit out an `/opt/ros/<distro>' path for `std_msgs` if it sourced correctly.

[2020-08-14 16:00] flynneva commented on #300
on the second step of this action it looks like we vcs install --force all repos for the given distribution.

is this necessary? assuming that the "setup-action" step worked correctly shouldnt these already be installed?

[2020-08-14 16:20] christophebedard commented on #300
That's because of `vcs-repo-file-url`'s default value: https://github.com/ros-tooling/action-ros-ci/blob/875dfcc49015e06d544d40c5c3fdbfcb55f21040/action.yml#L64

So if I'm not mistaken you can just explicitly set it to `""` and it'll skip that step.

[2020-08-14 16:35] emersonknapp commented on #300
@flynneva Did the above suggestion resolve the issue? If so, perhaps we can update the documentation to make this use case more clear.

[2020-08-14 16:36] flynneva commented on #300
that was it!  [here it is after running successfully](https://github.com/continental/udp_com/actions/runs/208843425)for anyone else who needs this

[2020-08-14 16:36] flynneva commented on #300
ill make a PR to the README to update the ROS1 example for others

[2020-08-14 16:37] #300 closed

[2020-08-14 16:45] flynneva commented on #158
solution over at #300,  you have to specifiy `vcs-repo-file-url` to "".

[code]

[2020-08-14 17:17] flynneva opened #305 "specifying vcs-repo-file-url to "" for windows/mac causes failure"
## Description
specifying `vcs-repo-file-url` to "" for windows & mac causes this action to skip the first "rosdep update" step...which causes failures down the line.

### Expected Behavior
specifying `vcs-repo-file-url` to "" should still run the action and build & test the ros package if ros is properly setup and sourced before this action.

### Actual Behavior
action fails on the `rosdep instal

[2020-08-14 17:24] christophebedard commented on #305
Looking at the code, it simply runs `rosdep update` `if (!isWindows)`: https://github.com/ros-tooling/action-ros-ci/blob/875dfcc49015e06d544d40c5c3fdbfcb55f21040/src/action-ros-ci.ts#L169-L173

It doesn't seem to be tied to `vcs-repo-file-url`.

[2020-08-14 17:30] christophebedard commented on #305
So I guess that means it's up to you to make sure all dependencies are properly installed for Windows?

[2020-08-14 17:49] flynneva commented on #305
from [ros-infrastructure/rosdep/issues/703](https://github.com/ros-infrastructure/rosdep/issues/733) it looks like there was a PR already [merged with rosdep](https://github.com/ros-infrastructure/rosdep/pull/656) that might have helped solve some issues with rosdep on windows. the other PR is still open so im not sure if full support is there yet.

[2020-08-14 18:12] flynneva commented on #305
if for windows this action skips "rosdep update", should it then also skip "rosdep install"?

[2020-08-14 20:53] flynneva commented on #305
for windows would it make sense to add "call <path-to-ros2-install> &&" before all the commands? similar to what is done for linux with source?

[2020-08-15 12:25] heethesh commented on #158
This solution fixed the issue for me!

[2020-08-15 12:25] #158 closed

[2020-08-15 19:26] christophebedard commented on #305
I've never used `action-ros-ci`/`setup-ros` for Windows, so I looked into/tried it. If you run `rosdep install` without ever running `rosdep update`, it'll fail (but `|| true` prevents a job failure):

This isn't Windows-specific obviously, but that's what happens here. So you probably do need to manually install any dependency you need.

Good point. Looking at https://github.com/ros-tooling/actio

[2020-08-15 20:11] christophebedard commented on #157
What do you all think about using some kind of special syntax in pull request descriptions? For example, something inspired by git trailers:

[2020-08-16 00:37] flynneva commented on #305
i think i mightve been a little quick to report an error here.

it seems to be running just fine for windows for some packages (see [grbl_ros](https://github.com/flynneva/grbl_ros/runs/986996950?check_suite_focus=true) for example).

it looks like my first problem mightve just been rosbridge_suite specific.

[2020-08-16 14:14] christophebedard commented on #305
Can you provide a link to a failure like that? The link in the issue description above doesn't work anymore.

If you remove `vcs-repo-file-url: ""` it'll recompile ROS 2 from source. However, it looks like you setup both actions to use ROS 2 binaries (https://github.com/flynneva/grbl_ros/blob/603bbbe3d5ca2c9fce332b14fc4076802c4c9bf6/.github/workflows/ros_ci.yml#L59), so you shouldn't need to re-co

[2020-08-16 14:39] flynneva commented on #305
yeah sorry ive been testing it with/without the `vcs-repo-file-url` param and seeing the behavior.

[here it is again](https://github.com/flynneva/grbl_ros/runs/990596439?check_suite_focus=true) after I specified the `vcs-repo-file-url` to `""`

[2020-08-16 14:57] christophebedard commented on #305
It's failing because `ament_copyright`/`ament_flake8`/`ament_pep257` cannot be found for testing, so it's either because the binary installation wasn't sourced (not sure how it works on Windows) or because it just wasn't installed, i.e. https://github.com/ros-tooling/setup-ros/issues/243.

Removing `vcs-repo-file-url` makes it import the `ros2.repos` file and compile everything from source so it e

[2020-08-16 15:03] #305 closed

[2020-08-16 16:12] flynneva opened #307 "windows still running bash commands"
## Description
it looks like detection of windows isnt working properly and the action still is running bash commands on windows.

### Expected Behavior
run in cmd.exe rather than bash for windows

### Actual Behavior
runs bash commands on windows environment

## To Reproduce
see [it in action here](https://github.com/flynneva/grbl_ros/runs/990726126?check_suite_focus=true)

## System (please comp

[2020-08-16 16:13] christophebedard commented on #307
See the second part of my comment here: https://github.com/ros-tooling/setup-ros/pull/245#issuecomment-674545635

[2020-08-17 21:31] flynneva commented on #307
is there a reason why this runs bash on windows? i feel like this will not be how the majority of users will use ROS on windows.....they most likely will use cmd or powershell and that might change the end result, no?

[2020-08-18 06:15] emersonknapp commented on #307
I don't see what end result might change - the produced binaries will be the same because the compiler produces them, and colcon creates all the setup files via python code - there's nothing shell-specific about the build or the produced artifacts. Is there something specific you are concerned about with having the build run via bash?

[2020-08-18 15:41] flynneva commented on #307
just its different then what people actually will be doing - so its a slight work around and doesn't necessarily "prove" that the default way to setup, build and test a package on windows would work because it doesn't actually test it.  maybe im wrong, but I'd imagine somewhere somehow there might be a problem.

[2020-08-19 14:04] #307 closed

[2020-08-19 20:00] emersonknapp commented on #157
I think that would be pretty clever - I wasn't sure how we would want to approach this, but using special syntax in the PR description might work well.

[2020-08-20 08:56] rotu opened #312 "`lcov` code breaks build on Mac, Windows"
## Description
The build is failing for `cyclonedds` and other packages on Mac and Windows due to missing `lcov`.

### Expected Behavior
The build should not break. Either `lcov` should not be run by default or in its absence, the build should not fail.

### Actual Behavior
https://github.com/ros2/rmw_cyclonedds/runs/985853020#step:5:5529
https://github.com/ros2/rmw_cyclonedds/runs/985853090#step:

[2020-08-20 21:24] rotu commented on #312
@thomas-moulard could you please take a look at this? I'm having trouble even getting coverage working on Linux, so I'm not sure if I'm doing it right.

https://github.com/RoverRobotics-forks/rmw_cyclonedds/blob/bb42980bc54e5623c62695d5e805a0d9e18d83df/.github/workflows/CI.yml#L31-L57

[2020-08-23 23:18] christophebedard commented on #157
I'll work on it and report back in a little bit!

[2020-08-24 17:10] rotu opened #316 "setting target-ros2-distro pulls source packages from a newer distro by default"
## Description
Using target-ros2-distro is unintuitive, clobbering packages with a newer source version.

### Expected Behavior
I expect setting the target distribution to update the repo file`target-ros2-distro: foxy` to make `vcs-repo-file-url` default to `https://raw.githubusercontent.com/ros2/ros2/foxy/ros2.repos`

### Actual Behavior
No matter the `target-ros2-distro`, the repos file defaults

[2020-08-24 17:33] christophebedard commented on #316
I agree with this.

Having to set `vcs-repo-file-url` to `""` for a pretty standard use-case (avoiding building a distro from source) feels weird.

I think two having two separate mandatory options would be better:

* binary install or from source
   * E.g. `"binary"` or `"source"`, any other value is invalid (unless there's a better way to do this).
   * If binary install, assume that setup-ros w

[2020-08-24 18:43] emersonknapp commented on #316
I would agree with defaulting `vcs-repo-file-url: ""` - we probably shouldn't be pulling in extraneous sources at all unless specified, for CI

[2020-08-25 01:27] rotu opened #318 "Should work with setup-python"
## Description

Although we install some packages from pip3, many python3 dependencies are still installed from apt. This means that we can't use it with https://github.com/actions/setup-python to test with a different python3 version - python packages installed via rosdep will still install at the system level and will not be visible to a non-default interpreter.

## Related Issues

This is relat

[2020-08-28 16:36] emersonknapp commented on #318
The reason we prefer apt packages is because we can only release ROS packages to apt if it has all-apt dependencies. Getting newer versions from pip can be nice but it doesn't allow for using the native package manager.

That doesn't entirely invalidate the use case, I'm just not sure how we solve supporting both.

[2020-08-29 08:20] rotu commented on #318
Hmmm that does seem like a thorny problem.

In researching this, though, I learned that system packages are installed to `dist-packages` which is *not* specific to a python version, unlike `site-packages`, which *is*.

In fairness, I haven’t tested this with setup-python yet. I just assumed it wouldn’t work because virtualenvs don’t work and I figured they were similarly isolated.

It might be eno

[2020-08-29 09:18] rotu commented on #318
Huh. I think it actually does work with `setup-python`: https://github.com/rotu/action-test/runs/1044778087?check_suite_focus=true

I am somewhat suspicious that the tests pass on Python 3.4, but closing this issue for now as user error.

[2020-08-29 09:18] #318 closed

[2020-09-04 00:53] rotu opened #333 "Tests add scary annotations when things fail as expected"
## Description
CI for this repo has "Check failure" annotations even when tests pass.

### Expected Behavior
No annotations should be seen if everything is working as it should

### Actual Behavior
"Check failure" annotations are seen in every run of this repo's CI.
https://github.com/ros-tooling/action-ros-ci/actions/runs/238503302
![Screenshot from 2020-09-03 19-52-43](https://user-images.github

[2020-09-08 05:53] rotu commented on #157
FYI, @emersonknapp @christophebedard, here's an example of how I implemented something like this in a one-off way: https://github.com/ros2/rmw_cyclonedds/pull/237/files

1. Tell git to fetch pull refs: `git config --global --add remote.origin.fetch '+refs/pull/*:refs/remotes/origin/pull/*'`
2. Create a `local.repos` file replacing dependencies with their pr branch:

3. Pass `local.repos` file to `

[2020-09-08 18:18] emersonknapp commented on #157
You mean between two interdependent PRs, if you change one of them, the other won't re-run its build? I can't see any obvious way around that using just Actions - I think we'd have to develop a bot or something to manage that - which would require hosting infra etc - probably much too much work. Do you know if any of the CI providers like Travis or Circle have this feature? I haven't really seen i

[2020-09-08 20:17] rotu commented on #157
Yes. I'm making the simplifying assumption that the PRs have a consistent order; e.g. pull request A has changes required for pull request B but that A still can pass CI without B. In theory, semver discourages breaking changes without a deprecation version, so this should be the case most of the time. (There might still be a good reason to hold back approval of PR A until package B passes, but CI

[2020-09-09 17:59] jacobperron opened #342 "Removing the repository under test can remove dependency repositories too"
## Description

If the parent directory name same as the repository name, then the parent directory is removed along with all repositories contained within.

### Expected Behavior

Repositories provided in the repos file should not be removed before the build.

### Actual Behavior

Some repositories are removed.

## To Reproduce

It's not obvious what is happening, but I noticed the bug in this CI

[2020-09-10 00:07] jacobperron commented on #342
I've found another bug when a parent directory has the same name as the repo under test. The relative path of the repository set on this line:

https://github.com/ros-tooling/action-ros-ci/blob/5ced4407abc16dc1d2db14df0842a4a6a415a035/src/action-ros-ci.ts#L234

causes any existing directory with the same name to be silently overwritten by `vcs` with the `--force` option:

https://github.com/ros-to

[2020-09-10 22:33] dabonnie commented on #342
Thanks for the PRs, I will try to get you a review by EOD tomorrow.

[2020-09-16 23:10] #342 closed

[2020-09-26 08:22] rotu opened #364 "Failure of colcon list does not stop the action"
See https://github.com/colcon/colcon-core/issues/382#issuecomment-699457530 for an example where colcon list fails but the error doesn’t halt the action.

[2020-09-26 08:25] rotu commented on #364
https://github.com/ros-tooling/action-ros-ci/issues/364
Apologies for the sloppiness. I’m trying to use GitHub on my phone and it doesn’t work great.

[2020-10-06 16:21] Levi-Armstrong opened #379 "How to leverage rosinstall located in repository?"
I am currently setting CI for a package but it does not like the location provided for the rosinstall.

Workflow:

[code]

GitHub Actions Error:

[code]

[2020-10-06 17:28] dabonnie commented on #379
@Levi-Armstrong in order to populate the `GITHUB_WORKSPACE` [environment variable](https://docs.github.com/en/free-pro-team@latest/actions/reference/environment-variables) you'll need to use the [checkout action](https://github.com/actions/checkout).

[2020-10-06 18:23] Levi-Armstrong commented on #379
Thank you for the feedback. I will give it a try. I was following this [example](https://ms-iot.github.io/ROSOnWindows/GettingStarted/ros2_workflow.html) which does not have it so I assumed the setup-ros was checking it out.

[2020-10-06 19:39] Levi-Armstrong commented on #379
That solved the issue.

[2020-10-06 19:39] #379 closed

[2020-10-13 13:24] sinamr opened #384 "/bin/bash -c vcs import --force --recursive src/ < package.repo"
Hi All,

I am struggling to run my script for CI as it keeps giving me the following error

[code]
 and I have no idea how I could fix this. My CI scripts looks like this:

[code]
As no one else had experienced this error, I am sure that I am doing something wrong. However, I couldn't have any clue. Any suggestion or guess is highly appreciated.

[2020-10-13 13:34] christophebedard commented on #384
can you try with `ros-tooling/action-ros-ci@master`?

[2020-10-13 13:47] sinamr commented on #384
I just tried, unfortunately, the same error:

`Invoking "bash -c 'vcs import --force --recursive src/ < package.repo'
  /bin/bash -c vcs import --force --recursive src/ < package.repo
  Input data is not valid yaml format: while parsing a block mapping
    in "<stdin>", line 3, column 5
  expected <block end>, but found '<scalar>'
    in "<stdin>", line 4, column 45`

[2020-10-13 13:53] christophebedard commented on #384
This seems to be related to `import-token`. Are you sure it's valid?

[2020-10-13 14:06] christophebedard commented on #384
ah, try removing `- uses: actions/checkout@v2`

[2020-10-13 14:06] sinamr commented on #384
It seems valid as I tried with a random number and it failed much earlier.

[2020-10-13 14:15] sinamr commented on #384
Thanks a lot for your help, sadly, the same error :(

[2020-10-13 15:29] sinamr commented on #384
So, I did more tests and you were right. The source of the problem is import-token, however CI_SECRET is a valid one as with an invalid token, it fails way before this line.  The out-put of repository.cat is:
[code]

I didn't  put the starts, it was printed like this. Do you think this cause the problem?

[2020-10-13 15:48] christophebedard commented on #384
yeah, that definitely messes up the yaml format. It's printing stars because it's hiding the secret.

How did you get the token? Maybe try to delete the secret and re-add it. GitHub personal access tokens (see https://github.com/settings/tokens) have a length of 40 and only contain numbers and lowercase letters, so I'm not sure how it manages to somehow add newlines/`\n` in there.

Also maybe try

[2020-10-13 17:28] sinamr commented on #384
I will try to generate a new token and keep you posted,
Thanks  a lot for the new lines, I am, however, afraid that it didn't help as there are still some lines:

[code]

[2020-10-14 07:52] sinamr commented on #384
So, the problem is solved. As you mentioned it was the problem of the Token. But, the token was valid it just had some characters like " @ %$  in the middle. I generate another one and it worked at the end

[2020-10-14 07:53] #384 closed

[2020-10-30 21:19] Karsten1987 opened #412 "Fatal Python error: init_import_size: Failed to import the site module"
At ros2-control we reliably run into a test failure with launch as mentioned in the title:
`Fatal Python error: init_import_size: Failed to import the site module`

We can't reproduce this locally and we wonder if it's related to the GH action.
More details can be found here: https://github.com/ros-controls/ros2_control/issues/214

I hope you could help us out here.

[2020-11-17 21:37] emersonknapp opened #429 "All runs of action-ros-ci failing due to `set-env` command disabled"
## Description

Example: https://github.com/ros-tooling/action-ros-ci/runs/1412044685?check_suite_focus=true

[code]

[2020-11-18 03:43] #429 closed

[2020-11-24 00:36] emersonknapp opened #436 "action-ros-ci scheduled builds failing on kinetic"
## Description
See https://github.com/ros-tooling/action-ros-ci/actions/runs/379956185 as the latest build as of this writing.

The kinetic build is failing consistently (all others passing)

[code]

[2020-11-25 01:30] #436 closed

[2020-12-02 21:28] filmaj opened #447 "Link in opening sentence of the README is a 404"
That's all, have a great day!

[2020-12-02 23:28] emersonknapp commented on #447
Thanks for pointing this out!

[2020-12-09 22:39] emersonknapp commented on #412
It seems that this issue was resolved with the latest version, as noted in https://github.com/ros-controls/ros2_control/issues/214#issuecomment-739245227 - if this comes up again I should be able to get to a lot faster this time!

[2020-12-09 22:39] #412 closed

[2020-12-09 22:50] emersonknapp commented on #412
After looking at https://github.com/ros-controls/ros2_control/pull/253 - adopting some new release process to make it easier for users to get fixes

[2020-12-10 20:54] #447 closed

[2021-01-04 21:49] #364 closed

[2021-01-31 07:10] tzskp1 opened #518 "stuck with installing dds"
## Description
action-ros-ci stuck at
[code]
I guess that, for some reason, `RTI_NC_LICENSE_ACCEPTED` is no longer valid.

### Expected Behavior
The test must go ahead.

### Actual Behavior
Stopping without failure or success.

## To Reproduce
https://github.com/tzskp1/action-ros-ci-repro/runs/1800236519?check_suite_focus=true
https://github.com/tzskp1/action-ros-ci-repro

## System
 - OS: ubuntu-

[2021-02-05 05:43] JaehyunShim commented on #518
Hi @emersonknapp

Any advice? I am encountering the same problem.

Thank you in advance,
Jaehyun

[2021-02-05 13:08] christophebedard commented on #518
I tried manually installing it, e.g.

[code]

and `RTI_NC_LICENSE_ACCEPTED=yes` indeed doesn't seem to work.

Seems like `rosdep` just installs it by default when it's run, e.g. here running it on the packages from the `ros2.repos` file:

[code]

Just wondering: do any of you actually need or expect Connext to be installed?

I think it's already supposed to be installed (or not installed) by `setu

[2021-02-06 00:12] tzskp1 commented on #518
@christophebedard

I seem that your command is invalid.

This command worked.

[code]

https://github.com/tzskp1/action-ros-ci-repro/runs/1800498399?check_suite_focus=true

I guess that the problem is `sudo` does not propagate environment variables.

[2021-02-06 18:25] christophebedard commented on #518
oh, good catch!

I'll open a PR to fix this.

[2021-02-08 07:48] JaehyunShim commented on #518
@christophebedard  thanks !

[2021-02-08 09:47] ddengster opened #525 "coverage-gcc routing to colcon test mixin and gives not available error"
## Description
`action-ros-ci` executes a command similar to `colcon test --event-handlers console_cohesion+ --pytest-with-coverage --return-code-on-test-failure --packages-select <your package> --mixin coverage-gcc` due to the `colcon-mixin-name` parameter applying to both `colcon test` and `colcon build`. It gives an error.

### Expected Behavior
The `colcon test --mixin coverage-gcc` command sh

[2021-02-08 14:41] christophebedard commented on #525
Yeah, we should probably split the `colcon-mixin-name` option into `colcon-mixin-name-build` & `colcon-mixin-name-test`!

[2021-02-09 14:43] christophebedard commented on #525
Interesting thing to note: there's a test with `colcon-mixin-name: coverage-gcc` but it gives a warning, not an error: https://github.com/ros-tooling/action-ros-ci/pull/526/checks?check_run_id=1861010271#step:19:349

seems like `colcon-mixin` gives an error instead of a warning as of 0.1.10: https://github.com/colcon/colcon-mixin/commit/14905bd934512363b9b842b4be43e21907314720

[2021-02-11 10:26] nfry321 opened #533 "Automatically allow access private dependencies via vcs-repo-file"
# Feature Request

Translated from bug report - a solution is possible but it would be nice to allow this case automatically.

# Original Ticket Below

## Description
When using this action on a private repo it does not access other private repos which have been specified in a vcs repo file and are required dependencies to test the package.

### Expected Behavior
I expected the `import-token` to p

[2021-02-11 14:14] christophebedard commented on #533
Yeah, it's only used for the repo itself, and not for `.repos` files imported using `vcs-repo-file-url`. The [former is easy to handle](https://github.com/ros-tooling/action-ros-ci/blob/d4316b37b43a6bc197424d2eb0a56df31abe8e79/src/action-ros-ci.ts#L278), but the latter isn't as easy.

You can include the token in your `.repos` file gist, like this:

[code]

replacing `TOKEN` with your token. If yo

[2021-02-12 05:28] emersonknapp commented on #525
I wonder if we should open it up a little more than just `colcon-mixin` names, and instead allow the user to specify the whole contents of a [colcon defaults file](https://colcon.readthedocs.io/en/released/user/configuration.html#defaults-yaml) - then they could specify mixins, per verb, along with any other arbitrary arguments. something like:

[code]

I think this API would really open up possib

[2021-02-12 05:59] emersonknapp commented on #533
Could you somehow manage this with a Git configuration `insteadOf` - without exposing the token to the code?

It would look something like

[code]

The syntax is probably a little off, but in theory that could work, then your VCS file would be safe and nothing would get exposed from your secrets

[2021-02-12 13:18] nfry321 commented on #533
Adding @emersonknapp's code worked great, thank you!

@christophebedard I thought that might be the case, thanks for the info.

As this work around fixes my issue (when using the gist file, I havent quite worked out the format for a local vsc file but that's beside the point here) feel free to close this issue, but it would be a nice feature to add natively at some point.

[2021-02-12 14:09] christophebedard commented on #533
nice workaround @emersonknapp. Maybe we could simply do that internally? Unless it could interfere with other things.

let's turn it into an ![](https://img.shields.io/github/labels/ros-tooling/action-ros-ci/enhancement) request :grin:

[2021-02-15 14:59] christophebedard commented on #525
that would be more flexible

[2021-02-15 20:20] #518 closed

[2021-02-16 07:35] ddengster commented on #525
According to [this post](https://github.community/t/how-to-define-nested-inputs-in-action-metadata-file/16624), we might not be able to do nested inputs. Do tell if your github-action-fu is good enough to implement it.

[2021-03-04 08:45] JaehyunShim opened #559 "1 package failed: rcl"
## Description
CI failed with the error code "1 package failed: rcl"

### Expected Behavior
It shouldn't fail there... I haven't even tested my code and the process dies because of the rcl part

### Actual Behavior
CI failed with the error code "1 package failed: rcl"
For more information, check out these links below.
(https://github.com/JaehyunShim/test/runs/2029258535?check_suite_focus=true#step

[2021-03-04 15:00] christophebedard commented on #559
First thing I notice is that it's importing the `master` `ros2.repos` file and building all dependencies instead of relying on binaries installed by `setup-ros`. Can you try with this additional `action-ros-ci` input/option?

[code]

I admit that needing to set `vcs-repo-file-url` to `""` for a normal use-case like this isn't *great*.

[2021-03-05 01:19] JaehyunShim commented on #559
@christophebedard

Thank you for your response. I changed the file as you advised and it fixed the problem. Just one thing, I wonder if the ros-tooling group has any plan to write a tutorial-like material in the below link regarding CI, Lint, Codecoverage, test code writing, etc (so-called DevOps tools).

https://docs.ros.org/en/foxy/Tutorials.html

As a ROS user, what I can do by seeing other ope

[2021-03-05 01:21] JaehyunShim commented on #559
I am sure It will also help increase the reusability of ROS packages in the entire community.

[2021-03-05 01:28] emersonknapp commented on #559
I think that a tutorial is a great idea and would be very useful to the community.  However, this issue isn't the place to track it :) - I ask that you open a request for that in https://github.com/ros-tooling/roadmap, which is intended to track top level items for the working group.

[2021-03-05 01:31] emersonknapp opened #561 "vcs-repo-file-url should default to empty, rather than master ros2.repos"
## Description

The default value for `vcs-repo-file-url` has been a recurring point of confusion for users, because it often pulls in a newer version of the code than they are trying to build against.

## Related Issues

https://github.com/ros-tooling/action-ros-ci/issues/559

## Completion Criteria

Defaults to not using an external .repos file

## Implementation Notes / Suggestions

Change the

[2021-03-05 01:32] emersonknapp commented on #559
Given that the suggestion solves your problem - I've opened https://github.com/ros-tooling/action-ros-ci/issues/561 to track an improvement, and will close this issue.

[2021-03-05 01:32] #559 closed

[2021-03-05 01:47] JaehyunShim commented on #559
@emersonknapp  Thank you!

[2021-03-05 08:59] JaehyunShim opened #562 "Codecov in action-ros-ci does not work"
Hi @christophebedard,

I would like to ask one more question about the action-ros-ci usage.

## Description
Codecov result does not get uploaded.

### Actual Behavior
## To Reproduce

1. I followed the instruction written in this [link](https://github.com/ros-tooling/action-ros-ci#integrate-action-ros-ci-with-codecov)
- CI: https://github.com/JaehyunShim/test/blob/master/.github/workflows/ci.yml#L

[2021-03-05 14:12] christophebedard commented on #561
@emersonknapp this existing issue seems pretty relevant: #316

[2021-03-05 14:12] christophebedard commented on #562
That looks like more of a codecov problem than an action-ros-ci problem since the coverage file is found here: https://github.com/JaehyunShim/test/runs/2038241504?check_suite_focus=true#step:4:35

One thing to note is this at the end of https://github.com/ros-tooling/action-ros-ci#integrate-action-ros-ci-with-codecov

You put this: https://github.com/JaehyunShim/test/blob/de6193e61cff3c135a17e4850

[2021-03-05 16:46] emersonknapp commented on #561
Yes, you're right. I think the original suggestion there was to default to the distro under build, but in the conversation we came to this conclusion as an alternative. I'm not quite sure this is duplicate, but only one of these tickets needs to be solved, I think

[2021-03-05 18:51] christophebedard commented on #561
yeah. I'm still in favour of changing the overall approach as mentioned in https://github.com/ros-tooling/action-ros-ci/issues/316#issuecomment-679265581, but I can just open a separate issue since this one is more for a short-term solution/fix.

[2021-03-05 19:24] christophebedard commented on #561
@emersonknapp can you assign this to me? Unless you were planning on doing the change.

[2021-03-06 21:56] christophebedard commented on #562
@JaehyunShim I think I found the issue. Well, issues plural :laughing:.

See the updated/fixed documentation in #568, here: https://github.com/christophebedard/action-ros-ci/tree/e035c61e3c6433becfcef05f4b6ede0d785603a2#integrate-action-ros-ci-with-codecov

[2021-03-08 02:37] JaehyunShim commented on #562
@christophebedard
Thank you for your answer. It fixed the problem. I will close this thread.

[2021-03-08 02:37] #562 closed

[2021-03-09 02:05] #561 closed

[2021-03-09 11:44] #533 closed

[2021-03-11 21:37] christophebedard opened #576 "Tag a new release: 0.2.0"
Along with a new `v0.2` tag.

[2021-03-11 21:39] christophebedard commented on #576
Maybe wait until the `colcon-mixin-name` input is removed (https://github.com/ros-tooling/action-ros-ci/pull/526#issuecomment-797059032).

[2021-03-14 13:09] christophebedard opened #578 "Action fails to remove duplicate repos on Windows"
## Description

If the repo being tested is included in an imported repos file (e.g. `ros2.repos`), then the duplicate repo (i.e. @ `master`) is removed to avoid having two packages with the same name.

https://github.com/ros-tooling/action-ros-ci/blob/64858bf3c148043e873c2985d7c9fed60914061c/src/action-ros-ci.ts#L338-L347

### Expected Behavior

The duplicate package is deleted. The repo being te

[2021-03-14 20:21] christophebedard commented on #578
Related `vcstool` issue: https://github.com/dirk-thomas/vcstool/issues/202

In the meantime, we have #579

[2021-03-15 08:51] bmagyar opened #580 "Linting jobs suddenly failing with "error: unrecognized arguments: --linelength=140""
## Description
Some linting jobs fail with `error: unrecognized arguments: --linelength=140`. This started happening roughly a week ago and no changes were done on our end.

Here's the lint job config, we are using the tagged versions:
[code]
And now many job fail like so:
[code]

### Expected Behavior
*Just Works TM*

### Actual Behavior
Some linting jobs fail with `error: unrecognized arguments:

[2021-03-15 14:46] christophebedard commented on #580
I'm guessing you meant to open an issue over at https://github.com/ros-tooling/action-ros-lint

This looks to be related to https://github.com/ros-tooling/action-ros-lint/pull/246

The `--linelength` option was added to `ament_lint_cmake` in https://github.com/ament/ament_lint/pull/235/files#diff-28bb1b0a9c88ab4a0a59fc77d758cb830e28b3ccd358c734a42f848717ad7005R51. That option doesn't exist for `am

[2021-03-17 21:57] emersonknapp commented on #580
After https://github.com/ros-tooling/action-ros-lint/pull/253 - I have made a new release 0.1.3 (on v0.1) just with the reverted change.

[2021-03-19 01:22] #578 closed

[2021-03-21 16:02] christophebedard commented on #580
@emersonknapp I think we can close this now

[2021-03-21 17:10] bmagyar commented on #580
Thanks guys!

[2021-03-21 17:10] #580 closed

[2021-03-22 17:31] emersonknapp commented on #126
I have seen this happen occasionally, yes, but I don't have any concrete examples to point to right now. I have also seen it happen on the ci.ros2.org buildfarm, so I'm fairly certain it's not specifically an action-ros-ci issue - but if we can do anything to mitigate it, that would be valuable

[2021-03-22 17:53] christophebedard commented on #126
I see. Then if it's just a git/network flakiness issue, `--retry N` (with `vcs import`) can probably help.

[2021-03-23 19:26] emersonknapp commented on #525
Implemented by #591

[2021-03-23 19:26] #525 closed

[2021-03-23 19:35] emersonknapp commented on #576
https://github.com/ros-tooling/action-ros-ci/releases/tag/0.2.0

[2021-03-23 19:35] #576 closed

[2021-04-06 16:48] Karsten1987 opened #615 "CI starts failing: `coverage-gcc` is not available"
The source job build at `ros2-control` relying on `action-ros-ci` has started failing without us changing anything at the version number.
We're still using v0.1 - is there any chance you can have a look at this? I wonder why we - relatively often - encounter CI failures without changing the version number. Is there anything like _API stability_ across versions?

from https://github.com/ros-control

[2021-04-06 17:18] emersonknapp commented on #615
That is definitely the intent! It seems that the test suite is not wide enough to have covered this case yet.

"Missing mixin was converted from warning to error in `colcon-mixin` at https://github.com/colcon/colcon-mixin/pull/26 (requested by me) and released in colcon `0.1.10`.

It looks like we upgraded `colcon-mixin` through and past that version in https://github.com/ros-tooling/setup-ros/pul

[2021-04-06 18:08] christophebedard commented on #615
:+1:

My bad. Will keep this in mind too!

I've opened a PR for an alternative fix (upgrading to v0.2): https://github.com/ros-controls/ros2_control/pull/372. Feel free to just close it if you want to stay on v0.1 and wait for the `setup-ros` fix.

[2021-04-06 20:19] #615 closed

[2021-04-06 20:48] emersonknapp commented on #615
New release [0.1.4](https://github.com/ros-tooling/setup-ros/releases/tag/0.1.4) is out which reverts the breaking change, and v0.1 tag is updated

[2021-04-06 21:23] Karsten1987 commented on #615
thanks @emersonknapp for taking care of this so quickly!

[2021-05-06 14:44] christophebedard opened #640 "Add support for Galactic binary installation"
## Description

## Related Issues

https://github.com/ros-tooling/setup-ros/issues/386

## Completion Criteria

Users can use ROS 2 Galactic after installing it with `setup-ros`.

Note that users can already build Galactic from source using:

[code]

## Implementation Notes / Suggestions

## Testing Notes / Suggestions

Update `validateDistros` test.

[2021-05-10 14:37] christophebedard opened #643 "Windows build environment fails to propagate to CMake external project"
## Description

https://github.com/ament/uncrustify_vendor uses a CMake external project (uncrustify).

### Expected Behavior

Builds fine on Windows.

### Actual Behavior

Fails to build on Windows. It fails when CMake checks for C and CXX compilers. The vendor CMake project can find the compiler just fine, but the external project cannot.

[code]

See: https://github.com/ros2/rmw_cyclonedds/runs

[2021-05-10 19:22] emersonknapp commented on #643
Are you able to actually get any Windows builds working using action-ros-ci? I tried to enable a test of that at https://github.com/ros-tooling/action-ros-ci/pull/630 and failed - maybe I'm missing something.

[2021-05-10 19:25] christophebedard commented on #643
It seems to work in some situations (e.g. Python packages and maybe simple C++ packages?), but overall it doesn't work well :confused:

[2021-05-13 20:50] #270 closed

[2021-05-24 14:46] christophebedard commented on #640
We should also tag a new release (create `0.2.x` and update `v0.2`).

[2021-05-24 16:48] #640 closed

[2021-05-24 17:00] emersonknapp commented on #640
Done!

[2021-05-31 08:09] hakuturu583 opened #674 "GPG Key is expired"
## Description
I use this action in my repository.
https://github.com/tier4/scenario_simulator_v2/pull/319/checks?check_run_id=2708680296
And, I found your GPG key is expired.
https://discourse.ros.org/t/ros-gpg-key-expiration-incident/20669

### Expected Behavior
setup ROS2 environment and build

### Actual Behavior
always fail when we execute apt-get update.

## To Reproduce
always fail (include

[2021-05-31 12:58] christophebedard commented on #674
This PR will fix it: https://github.com/ros-tooling/setup-ros/pull/405

[2021-05-31 13:57] christophebedard commented on #674
That PR was merged; this should be fixed by bumping to `ros-tooling/setup-ros@0.2.1`. There is nothing to do for people using `@v0.2`.

[2021-05-31 13:57] #674 closed

[2021-06-15 23:54] emersonknapp commented on #61
I've renamed this. I don't see any reason why we should require an input of packages at all, `colcon build` will build everything with a `package.xml` when no packages are specified.

[2021-06-16 20:28] #61 closed

[2021-06-23 00:17] christophebedard opened #684 "Provide option to only build without running tests"
## Description

Sometimes we

## Related Issues

## Completion Criteria

Users can set an option to avoid running tests and other steps that go along with tests (mostly coverage).

## Implementation Notes / Suggestions

A simple condition.

## Testing Notes / Suggestions

Figure out what directory/directories get created when running tests (e.g. for test results) and check that it's not created wh

[2021-06-24 01:48] #684 closed

[2021-06-24 06:30] asifrasheed6 opened #686 "Unexpected input skip-tests"
The CI result in the following warning:

Warning: Unexpected input(s) 'skip-tests', valid inputs are ['colcon-defaults', 'colcon-mixin-repository', 'coverage-ignore-pattern', 'extra-cmake-args', 'colcon-extra-args', 'import-token', 'package-name', 'target-ros1-distro', 'target-ros2-distro', 'vcs-repo-file-url']

[2021-06-24 12:07] christophebedard commented on #686
Are you trying to use the `skip-tests` option in your CI config? We just recently merged this feature and haven't created a new release, so it won't work unless you're using `ros-tooling/action-ros-ci@master`.

We should create a new release soon.

[2021-06-24 14:20] christophebedard commented on #686
@emersonknapp could you do it?

[2021-06-24 14:22] asifrasheed6 commented on #686
I am using ros-tooling/action-ros-ci@v0.2

[2021-06-24 16:25] emersonknapp commented on #686
Sure - I'll cut a new release. However, latest development not being in a release isn't a bug :) i'll close this issue

[2021-06-24 16:25] #686 closed

[2021-06-24 16:28] emersonknapp commented on #686
https://github.com/ros-tooling/action-ros-ci/releases/tag/0.2.2

[2021-07-29 13:27] kenji-miyake opened #691 "`GITHUB_TOKEN` doesn't work for private repositories that don't have private dependencies"
## Description

I've created a repository to test this. https://github.com/kenji-miyake/action-ros-ci-test-private
(This was originally private and made public after testing.)

Case 1. Use REPO_TOKEN(PAT)
https://github.com/kenji-miyake/action-ros-ci-test-private/pull/1

Case 2. Use GITHUB_TOKEN
https://github.com/kenji-miyake/action-ros-ci-test-private/pull/2

### Expected Behavior

Both Case 1 a

[2021-07-29 14:05] kenji-miyake commented on #691
Also, since this doesn't have any dependencies, ideally it should work with no token.
https://github.com/kenji-miyake/action-ros-ci-test-private/pull/3

However, it doesn't work as well due to `package.repo`.
https://github.com/ros-tooling/action-ros-ci/blob/d5882d17872e3e7206c75abf2d829cabc7960e53/src/action-ros-ci.ts#L460

If you don't mind, could you tell me what it's for? I wonder it because g

[2021-07-30 01:30] christophebedard commented on #691
As you saw, using a personal access token does work (I've been using one myself with a private repo that has a public dependency). That's also what the README recommends: https://github.com/ros-tooling/action-ros-ci#use-with-private-repos. The default `GITHUB_TOKEN` has weird permissions. When I was working on adding the private repo feature I couldn't figure out what permissions it has/what it do

[2021-07-30 01:37] christophebedard commented on #691
Yes, the action does require a token for private repo *because* it imports the repo through a `.repos` file.

I think it's imported this way to avoid requiring that `actions/checkout` step. Also, since `action-ros-ci` creates some directories when setting up its build workspace, it's just simpler to also import the current repo using a `.repos` file.

It could still probably be improved though! Fo

[2021-07-30 01:42] christophebedard commented on #691
If using this works for all use-cases:

[code]

instead of this:

[code]

then we can just switch to that!

[2021-07-30 01:42] kenji-miyake commented on #691
@christophebedard Just because it's safer and easier.
I think `PAT` has strong access rights because it can access many repositories that the user can access.
`GITHUB_TOKEN` can access only the repository that runs CI and is easier because no need to generate.

[2021-07-30 01:45] christophebedard commented on #691
Yeah you're totally right! It was definitely a bit of a pain to regenerate all my tokens when Codecov had a breach :sweat_smile:

[2021-07-30 01:50] kenji-miyake commented on #691
@christophebedard Then, do you make a PR for this? Or should I do that?

[2021-07-30 01:52] christophebedard commented on #691
@kenji-miyake if you can create a PR for it, it would be great!

[2021-07-30 01:53] kenji-miyake commented on #691
Okay, I'll try soon! :smile:

[2021-07-30 02:40] kenji-miyake commented on #691
@christophebedard

By the way, which documents did you take a look at? I'm glad if you share them.

[2021-07-30 14:29] christophebedard commented on #691
@kenji-miyake back then I don't think I found anything helpful, but now I found this: https://docs.github.com/en/actions/reference/authentication-in-a-workflow#about-the-github_token-secret.

It says:

This is the default permission, but it's configurable: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idpermissions

However, I don't think the `GITHUB_TOKEN

[2021-07-30 18:52] #691 closed

[2021-08-11 09:52] ddengster opened #698 "Support for export variables for colcon test (QT_QPA_PLATFORM=offscreen)?"
## Description

We have a package that uses QT for testing, is it possible to prefix `QT_QPA_PLATFORM=offscreen` to the action-ros-ci's `colcon test` step? An example : https://github.com/open-rmf/rmf_traffic_editor/blob/main/.github/workflows/ci.yaml

This is how we're using it: https://github.com/open-rmf/rmf/pull/53/files#diff-e79198339eb3fcc6974b6912e52526068eab3b7952ed67d03276479a235eb58e

[2021-08-11 12:44] christophebedard commented on #698
Does it work if you set `QT_QPA_PLATFORM=offscreen` using `env:` for the `action-ros-ci` step? See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsenv

[2021-08-12 03:03] ddengster commented on #698
That worked, thanks!

[2021-08-12 03:03] #698 closed

[2021-09-15 20:41] flynneva opened #710 "multiple packages as a list rather than just whitespace"
## Description

right now to pass multiple packages to the action you have to pass multiple package names separated by a space to `package-name`.  I'm wondering if it would be possible to list the packages as a list, like this:

[code]

this makes it much easier to list a lot of packages, where alternatively it would be just one big line in the yaml file wiht a bunch of spaces (hard to read, maint

[2021-09-15 20:41] flynneva commented on #710
this might even already be possible just I dont know about it....if it is could someone kindly let me know? 😄

[2021-09-15 20:46] christophebedard commented on #710
You should be able to do:

[code]

https://github.com/ros2/rosbag2/blob/d02e42611b58363b812e5f969e0ca449d1f55ad5/.github/workflows/test.yml#L22

or:

[code]

https://github.com/ros2/rmw_cyclonedds/blob/cc8250b9030c585e4f21da90d9ab78063f8dab44/.github/workflows/CI.yml#L39

There's a different between `>` and `|`, but it looks like both should work.

[2021-09-15 21:17] emersonknapp commented on #710
Yes @christophebedard is right about the formatting that you can do. Unfortunately YAML lists aren't a possibility here, these parameters are passed to the action code as BASH environment variables under the hood, so it's always just a string, YAML data types aren't supported.

[2021-09-15 21:17] #710 closed

[2021-09-15 21:19] christophebedard commented on #710
Yeah; we could do what we do [for `colcon-defaults`](https://github.com/ros-tooling/action-ros-ci#Use-a-colcon-defaultsyaml-file) (flow-style YAML string), but for a list of strings it's not really worth it!

[2021-09-26 15:08] wmmc88 commented on #643
I was trying to enable windows builds with action-ros-ci too and couldn't get builds to work. I replicated the commands the action calls locally and think i found the issue.

`C:\Windows\system32\cmd.exe /E:ON /V:OFF /S /C call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" amd64 & "C:\Program Files\Git\bin\bash.exe" -c "c:/dev/foxy/ros2-windows/setu

[2022-02-07 07:55] ijnek opened #721 "CI against python package with custom .repos file fails"
## Description
The [Build with a custom `repos` or `rosinstall` file instructions](https://github.com/ros-tooling/action-ros-ci#build-with-a-custom-repos-or-rosinstall-file) fails for a python package with a `setup.cfg` file in the repository root directory.

This issue has been [discussed](https://github.com/ros-tooling/setup-ros/pull/75) and a draft PR (https://github.com/ros-tooling/setup-ros/p

[2022-02-08 21:53] christophebedard commented on #721
In what cases does this not work?

[2022-02-09 05:23] ijnek commented on #721
In my use case I have the .repos file in my repository, but the instructions in [Build with a custom `repos` or `rosinstall` file](https://github.com/ros-tooling/action-ros-ci#build-with-a-custom-repos-or-rosinstall-file) generate a .repos before action-ros-ci using `rosinstall_generator`.
I haven't really thought about how that'd work without `actions/checkout`.

[2022-02-11 19:40] wep21 opened #722 "rosdep install for rolling fails because of the transition from focal to jammy"
## Description
rosdep install for rolling fails because of the transition from focal to jammy.
https://github.com/ros/rosdistro/pull/32036

### Expected Behavior
pass build ci for rolling

### Actual Behavior
fails build ci for rolling

## To Reproduce
** Steps to reproduce the behavior, e.g.
1. Run build ci for rolling
https://github.com/ros-drivers/gscam/runs/5160230528?check_suite_focus=true

#

[2022-02-11 19:40] wep21 commented on #722
FYI @emersonknapp @nuclearsandwitch

[2022-02-11 19:56] emersonknapp commented on #722
I noticed on the build you linked, you are running in docker container `rostooling/setup-ros-docker:ubuntu-focal-ros-rolling-ros-base-latest` - i assume we'll need to update setup-ros-docker to provide `ubuntu-jammy-ros-rolling-ros-base-latest` instead, yeah? That seems to me like it should solve the immediate problem you've actually pointed out here?

[2022-02-11 20:03] wep21 commented on #722
Ah, yes, you're right. I missed it. We need `ubuntu-jammy-ros-rolling-ros-base-latest`.

[2022-02-12 05:03] ijnek commented on #721
Friendly ping @christophebedard, what are your thoughts on this?

[2022-02-13 17:24] christophebedard commented on #721
@ijnek sorry for the delay. I did some investigation yesterday and today, and I think I found a fix: #466. See also https://github.com/ros-tooling/setup-ros/issues/75#issuecomment-1038276979

Also note that you're using `vcs-file-repo-url` instead of `vcs-repo-file-url` [in your repo here](https://github.com/ijnek/nao_button_sim/blob/f9d68416469618ee9a6c877b3493d5e53798cc50/.github/workflows/build

[2022-02-14 11:38] ijnek commented on #721
@christophebedard Thank you for looking into this. As you pointed out, I had file and repo the other way around. The changes on your branch do seem to fix the issue.

[2022-02-15 14:27] ijnek commented on #722
+1 to this issue, but from using `rostooling/setup-ros` instead of `rostooling/setup-ros-docker`.

Action logs from two different repos that started failing recently:

* <https://github.com/ros-sports/soccer_interfaces/runs/5198595665?check_suite_focus=true>
* <https://github.com/ros-sports/rqt_image_overlay/runs/5201520493?check_suite_focus=true>

Exact error of CMake failing to find ament_cmake:

[2022-02-15 14:47] christophebedard commented on #722
Looks like Focal was removed as a valid Ubuntu distro for Rolling: https://github.com/ros/rosdistro/pull/32036/files#diff-a79d50d14101a47dfc4ea7b0dd7b9446f34b544807d8f0c48cc6a8f07fc3b36aR11

[2022-02-16 00:21] ijnek commented on #722
Got it, I believe these issues should disappear after a while when the transition process is properly complete. Am I right?

I can confirm that the work around does work.

For detailed reference for others, to implement the work around, add `--os=ubuntu:jammy` as seen in
https://github.com/ijnek/action-ros-ci/commit/80974bd48deac3726e28d7b5fc8a1176481479f5

and change your CI to use your commit or

[2022-02-16 00:41] christophebedard commented on #722
Yep! I *think* the binary packages will be available soon.

[2022-02-16 16:42] nuclearsandwich commented on #722
I'm working on it, though we're hitting bumps in the road

[2022-02-17 02:29] #721 closed

[2022-02-18 01:18] wmmc88 commented on #643
with #712 and #719 merged, i think this is resolved?

[2022-02-18 15:01] christophebedard opened #725 "Support running 'colcon test' on Windows"
## Description

We should run `colcon test` on Windows like we do on Ubuntu & macOS.

## Related Issues

https://github.com/ros-tooling/action-ros-ci/issues/643 was for the build issues specifically

https://github.com/ros-tooling/action-ros-ci/pull/712 disabled the `colcon test` part on Windows while we figure it out.

## Completion Criteria

`action-ros-ci` runs tests on Windows as well.

## Imp

[2022-02-18 15:02] #643 closed

[2022-02-28 17:03] #722 closed

[2022-04-28 13:59] christophebedard opened #738 "Add support for Humble Hawksbill (May 2022)"
## Description

Humble will be released in May 2022: [docs.ros.org/en/rolling/Releases/Release-Humble-Hawksbill.html#release-timeline](https://docs.ros.org/en/rolling/Releases/Release-Humble-Hawksbill.html#release-timeline)

`action-ros-ci` should support it.

Note that we can still support Humble before its actual release. Users can test the binaries by using the testing repository (through `setu

[2022-05-03 01:17] #738 closed

[2022-05-06 13:55] christophebedard opened #746 "Unable to use Ubuntu 22.04 natively on GitHub actions"
## Description

**Note: this issue is related to the GitHub actions infrastructure itself. This simply tracks the issue on the `action-ros-ci` side.**

### Expected Behavior

Can use `ubuntu-22.04` as the job's OS (i.e., native runner OS).

### Actual Behavior

Does not work.

Currently fails when setting up the container:

[code]

https://github.com/ros2/rclc/runs/6320289481?check_suite_focus=tru

[2022-05-12 17:06] christophebedard commented on #746
`setup-ros` wasn't installing the right version of RTI Connext DDS on Jammy, but it's been fixed: https://github.com/ros-tooling/setup-ros/pull/486

[2022-05-19 20:17] christophebedard commented on #746
This seems to be resolved now, so I'll close this.

[2022-05-19 20:17] #746 closed

[2022-05-24 19:17] christophebedard opened #751 "Windows is broken due to cppcheck 2.8 installation by chocolatey"
## Description

`action-ros-ci` uses chocolatey to install some dependencies, including cppcheck.

### Expected Behavior

cppcheck is installed correctly, the action keeps going.

### Actual Behavior

Job fails at the chocolatey install step.

## To Reproduce

Run action on Windows.

## System (please complete the following information)
 - OS: Windows
 - ROS 2 Distro: any

## Additional context

T

[2022-05-24 19:31] christophebedard commented on #751
ci.ros2.org seems to install cppcheck version 1.90: https://github.com/ros-infrastructure/ros2-cookbooks/blob/de9d4cc159f2c4402e4636c458ad4bc535d0610d/cookbooks/ros2_windows/recipes/chocolatey_installs.rb#L11

This is also the version I have on my Ubuntu 20.04 system, so we could pin to that.

[2022-06-02 15:20] francocipollone commented on #276
Hi there @emersonknapp ! I dove now into `action-ros-ci` and I found this feature interesting to have.

I have a working proof of concept in my [branch](https://github.com/francocipollone/action-ros-ci/commit/b7e01f86fa8ae78abc94566db9337d71edec1a04).

I'd like to evolve this to a PR if possible, wdyt?

[2022-06-02 15:23] christophebedard commented on #276
I'm not Emerson, but that looks pretty good & simple to me. Feel free to open a PR!

[2022-06-02 15:30] francocipollone commented on #276
Thanks! Done! --> https://github.com/ros-tooling/action-ros-ci/pull/753

[2022-06-07 11:55] vatanaksoytezer opened #755 "rosdeps are not been installed on Windows"
## Description
Rosdep script on Windows gives update errors in the installation step. See GHA output [here](https://github.com/vatanaksoytezer/moveit2/runs/6773081422?check_suite_focus=true#step:4:197)  and workflow used [here](https://github.com/vatanaksoytezer/moveit2/blob/vatan/windows_ci/.github/workflows/windows.yaml).

The error bit is as follows:

[code]

### Expected Behavior
rosdep smooth

[2022-06-07 13:04] christophebedard commented on #755
rosdep doesn't work on Windows. You need to install dependencies manually.

See:

* https://github.com/ros-infrastructure/rosdep/issues/610
* https://github.com/ros-infrastructure/rosdep/issues/733

[2022-06-07 13:36] vatanaksoytezer commented on #755
Thank you!

[2022-06-07 13:36] #755 closed

[2022-06-07 13:44] christophebedard commented on #755
It's a bit unfortunate, but due to stuff like this, it's a bit harder to set up `action-ros-ci` for Windows. Also, the action doesn't currently run tests, see #725.

[2022-08-02 00:40] tomkimsour opened #765 "Importing package from other owners or organization"
## Description
The github action doesn't seem to be able to retrive the repository for my organization or external organization.
### Expected Behavior
The action is suppose to pull all the repository necessary for compiling this package and run compilation

### Actual Behavior
After the action-ros-ci, it succeeds to retriving the repository the action is started on and fails pulling repo from the

[2022-08-02 18:13] christophebedard commented on #765
I think you're missing something. Are your private repos separate from the repo against which the action is running? If so, I don't see where they are getting imported: you're just giving the package names to `action-ros-ci`, but you're not telling it how to import the packages (i.e., where to find them).

There are two use-cases for private repositories:

1. The repository that the action is runn

[2022-08-12 12:48] peredwardsson commented on #765
I would rather use a deploy key, which is bound to a repo, over a PAT, which is bound to my account. Can I supply more than one import-token somehow?

[2022-08-12 16:57] christophebedard commented on #765
Unfortunately not :/

That is a great idea, but unfortunately I don't think it's going to work currently. `action-ros-ci` creates the workspace using a `.repos` file by itself from scratch (in a specific directory) and deletes the directory if it exists: https://github.com/ros-tooling/action-ros-ci/blob/e0eeca0855af1390b32f9a39ae33840b6af85c6c/src/action-ros-ci.ts#L407

Other than using the `vcs-r

[2022-08-14 17:15] nnmm opened #766 "Trailing newline in rosdep install on Windows"
## Description
`install_rosdeps.sh` on Windows passes paths with trailing newlines to `rosdep install`.

### Expected Behavior
The `install_rosdeps.sh` step works on Windows.

### Actual Behavior
The `install_rosdeps.sh` step fails on Windows with an error message like

[code]

The path has a trailing newline, which it doesn't on Ubuntu, and I suspect that this is the cause for the failure.

## To

[2022-08-15 18:04] christophebedard commented on #766
Interesting, thanks for bringing this up @nnmm.

It seems like this is handled fine on Ubuntu:

[code]

(from: https://github.com/ros2-rust/ros2_rust/runs/7839025061?check_suite_focus=true)

but not on Windows:

[code]

I think a simple pipe through `tr '\n' ' '` after `colcon list ...` might fix this. I'll try to do this soon.

[2022-08-16 19:14] christophebedard commented on #766
@nnmm could you try #767? e.g. `ros-tooling/action-ros-ci@fix-rosdep-install-trailing-newline-windows`

[2022-08-16 19:44] christophebedard commented on #766
@nnmm note that I think `rosdep` doesn't work on Windows, though: https://github.com/ros-infrastructure/rosdep/issues/733

[2022-08-18 08:10] fmrico opened #768 "Failed to build repos with msg packages"
## Description
When a repo includes a package with custom messages and other packages that depends on it to build, I get a CMake error.

From [here](https://pipelines.actions.githubusercontent.com/serviceHosts/f4220714-8c6e-44be-ae49-1065b656fb1e/_apis/pipelines/1/runs/67/signedlogcontent/2?urlExpires=2022-08-18T07%3A54%3A51.1740738Z&urlSigningMethod=HMACV1&urlSignature=vKw8EzoosRA%2B%2BZg58zavU5F

[2022-08-18 16:56] christophebedard commented on #766
@nnmm ahh I quickly looked at CI for my PR and thought my fixed worked, but it didn't. I'll try to do a proper fix.

We can always add an option to skip `rosdep`, but it shouldn't make the CI job fail since we're using a trailing `|| true`: https://github.com/ros-tooling/action-ros-ci/blob/e0eeca0855af1390b32f9a39ae33840b6af85c6c/src/action-ros-ci.ts#L186. In your case, it seems to be failing at t

[2022-08-18 17:08] christophebedard commented on #768
I think I might also be getting the same error: https://github.com/ros2/ros2_tracing/runs/7892425175?check_suite_focus=true#step:5:745. This was fine before, but it started failing a few days or a week ago, so I think this is due to an upstream change (that doesn't happen when building locally). I haven't really had time to look into this.

I'm guessing you're relying on ROS 2 binaries, right? I t

[2022-08-18 17:20] clalancette commented on #768
We are currently in the middle of doing some revamps on the ROSIDL pipeline in Rolling.  Everything currently works if you are building from source, but we've been holding off on doing a series of binary package releases since we have a bunch of more changes coming.  That might explain what is going on here, a mismatch in the binary packages.

[2022-08-18 18:04] christophebedard commented on #768
Thanks for the info @clalancette. My initial reaction was to use the pre-release APT repository, but that didn't seem to help.

[2022-08-26 09:12] kfabian opened #772 "Input for git reference to checkout"
## Description

The action always checks out the branch it was triggered from. A cron event to trigger an action only works from the default branch, so I have not found a way to run daily jobs for multiple branches. With a `ref` input it  would be possible to have an action for a specific branch in the default branch.

## Completion Criteria

* `ref` input added to specify git reference

## Testin

[2022-08-26 21:16] christophebedard commented on #772
This sounds like a great feature. I'm actually going to be needing this soon, so I'll probably try to implement this, unless you wanted to do it.

[2022-09-08 10:56] fmrico commented on #768
As @christophebedard said, building everything from sources does the trick, but it takes a lot of time (>45 minutes) build anything.

Please @clalancette, keep us informed on this issue as soon as we could use binaries again :pleading_face:

[2022-09-08 17:25] fmrico commented on #768
Hi @christophebedard

I have just fixed it, using binaries, using osrf dockers instead of ros-tooling/setup-ros

[code]
Check this: https://github.com/fmrico/book_ros2/blob/main/.github/workflows/main.yaml

I hope it helps

[2022-09-08 18:15] christophebedard commented on #768
Thanks for the info @fmrico. I'll have to look into it and try to identify the difference(s) between `setup-ros` and that Docker image.

[2022-09-09 06:14] orensbruli commented on #768
I have found the same problem in one action in RMF:
- Minimum example working https://github.com/orensbruli/rmf/actions/runs/3014305754/workflow
- Same example run in github action ubuntu-22.04 container https://github.com/orensbruli/rmf/runs/8248058649?check_suite_focus=true#step:2:9030

As you can see looking into the workflow files, I'm not sure it's related with ros-tooling actions (which are

[2022-09-10 13:02] nnmm commented on #766
@christophebedard Have you had a chance to look for a proper fix yet? :)

[2022-09-11 22:10] christophebedard commented on #766
@nnmm I have not, but since `rosdep` basically doesn't do anything on Windows currently, that step should just be skipped. I'll try to do that tomorrow.

[2022-09-12 23:36] christophebedard commented on #766
@nnmm see #773

[2022-09-13 16:41] #766 closed

[2022-09-21 09:48] nnmm opened #775 "Windows CI fails without a helpful error message"
## Description
When running on Windows, `action-ros-ci` fails without a clear cause (at least, it's not clear to me).

### Expected Behavior
The build and test step, which uses `action-ros-ci`, succeeds or prints something helpful.

### Actual Behavior
The build and test step just prints `The process 'C:\Windows\system32\cmd.exe' failed with exit code 255`.

## To Reproduce
I have created a minima

[2022-09-21 21:12] christophebedard commented on #768
I haven't had time to look into it, but it looks like this is starting to work again for me.

[2022-10-06 13:28] nnmm commented on #775
@christophebedard Do you have any hints what exit code 255 might mean?

[2022-10-06 22:10] christophebedard commented on #775
@nnmm sorry, I don't :/ I've found debugging GitHub Windows CI to be quite frustrating unfortunately and have not had time to really dive deep into it.

[2022-11-10 04:07] ijnek opened #780 "Warning: The `set-output` command is deprecated and will be disabled soon."
## Description

Starting to see this deprecation warning when using in action-ros-ci:

[code]

## System (please complete the following information)
 - OS: Ubuntu Focal
 - ROS 2 Distro: Galactic
 - Tag: v0.2

## Additional context
I'll try and get around to fixing this when I have some time, if no one gets to it first!

[2022-11-16 02:41] sallydly opened #782 "Cannot pull private submodules using ssh"
## Description
When a private submodule's url is ssh (git@github.com:), the action is unable to pull the repository because it expects it to be an https url before it replaces it with a URL using the PAT.

### Expected Behavior
Private submodule should be pulled regardless if the url is https or ssh.

### Actual Behavior
Failure to clone private submodule
![image](https://user-images.githubusercon

[2022-11-16 20:37] christophebedard commented on #782
Hi, thanks for bringing this up! As you mentioned, using a PAT is the only working solution right now. I think the way `action-ros-ci` imports private repositories definitely needs to be improved. See also #765.

One solution might be to just rely on `actions/checkout` instead of changing the git config, but it would require changing the way `action-ros-ci` works internally (see https://github.com

[2022-11-23 19:10] christophebedard opened #784 "Run `colcon test-result` to print test failures"
## Description

`action-ros-ci` currently runs `colcon test ...` with `--return-code-on-test-failure`, which makes the CI job fail right after that command if any tests fail. Users need to look through the test output to find the test failures, which is a bit annoying. It would be better to remove `--return-code-on-test-failure`, run `colcon test-result` to print the failures, and then fail the CI

[2022-11-28 22:24] #782 closed